.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    color: var(--color-grey);
    font-size: small;
  }
  
  .error {
    color: var(--color-brown);
    text-align: center;
  }
  
  .titleComponent {
    color: var(--color-green);
}