.buttons-container .btn {
    font-size: 1.5rem;
    width: 35.1em;
    font-weight: bold;
    border: 3px solid black;
    color: black;
    background-color: white;
   }
   
   .buttons-container .btn:hover {
    background-color:rgb(17, 107, 57);
    color: white;
   }

   .buttons-submi{
    background-color:red !important;
    color: white;
   }
   