.buttons-container .btn {
    font-size: 1.5rem;
    width: 35.1em;
    font-weight: bold;
    border: 3px solid black;
    color: black;
    background-color: white;
   }
   
   .buttons-container .btn:hover {
    background-color:rgb(17, 107, 57);
    color: white;
   }

h3{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    color:blue
}