.password-reset-request {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #E6E6E9; /* Fondo claro */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password-reset-request h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #3C403F; /* Gris oscuro */
}

.password-reset-request form {
    display: flex;
    flex-direction: column;
}

.password-reset-request label {
    margin-bottom: 8px;
    color: #3C403F; /* Gris oscuro */
}

.password-reset-request input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #A8A7A8; /* Borde claro */
    border-radius: 4px;
    background-color: #F1F1F1; /* Fondo gris claro */
}

.password-reset-request button {
    padding: 10px;
    background-color: #5D7266; /* Color principal */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.password-reset-request button:hover {
    background-color: #937863; /* Color secundario */
}

.password-reset-request .message {
    color: #155724; /* Verde oscuro */
    text-align: center;
}

.password-reset-request .error {
    color: #721C24; /* Rojo */
    text-align: center;
}

.modalNotification {
    color: gray;
}
