.container {
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container h2 {
  color: #ADB5BD;
}

.inputGroup {
  position: relative;
  margin: 10px 0;
  width: 300px;
}

.input {
  border: solid 1.5px #9E9E9E;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #F5F5F5;
  width: 100%;
  box-sizing: border-box;
}

.userLabel {
  position: absolute;
  left: 15px;
  color: #E8E8E8;
  transform: translateY(1rem);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Fondo oscuro con opacidad */
  z-index: 1050; /* Asegúrate de que esta sea mayor que la z-index del calendario */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%; /* Ancho del modal como porcentaje del ancho de la ventana */
  max-height: 80vh; /* Altura máxima del modal */
  overflow-y: auto; /* Permite scroll si el contenido es muy largo */
  background-color: #FFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1050; /* Incrementa este valor */
  font-size: small;
}

.modalContent {
  flex: 1;
}

.modal h2, .modal p {
  color: #3C403F; /* Color oscuro para mejor legibilidad */
}

.modal h3 {
  color: #87A8C9;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttonback, .buttonadd {
  border: none;
  padding: 5px;
  font-size: small;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.buttonback {
  margin-right: 3px;
  background-color: #F0F0F0;
  color: #3C403F;
}

.buttonadd {
  margin-left: 3px;
  background-color: #8BA3BA;
  color: white;
}

.buttonback:hover {
  background-color: #E0E0E0;
}

.buttonadd:hover {
  background-color: #87A8C9;
}
