/* ProfileImageUpload.module.css */

.profileImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileImage {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.dropdownButton {
    margin-top: 10px;
    
}
