.resetPassword {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h2 {
    margin-bottom: 20px;
    text-align: center;
    color: gray;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 8px;
    color: gray;
}

.input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 10px;
    background-color: #6f6f6f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.message {
    color: green;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}

.modal {
    text-align: center;
}

.modalNotification{
    color: gray;
}