._overlay {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

._center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

._modalContainer {
  position: relative;
  min-width: 600px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--white);
  border-radius: var(--border-md);
}

._modalContainer::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  height: 12px;
  background-color: var(--primary-100);
  border-radius: 0 0 12px 12px;
}

._header {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 40px 40px 28px 40px;
  align-items: center;
  justify-content: center;
}

._header::before {
  position: absolute;
  inset: 0;
  content: "";
  height: 12px;
  background-color: var(--primary-100);
  border-radius: 12px 12px 0 0;
}

._header > h1 {
  margin: 0;
  font-size: var(--text-lg);
}

._header > button {
  border: none;
  background-color: transparent;
  padding: 12px;
  font-weight: var(--font-semibold);
}

._childrenContainer {
  padding: 20px 40px;
}
