.inputContainer {
  position: relative;
}

.inputContainer i {
  position: absolute;
  top: 18px;
  left: 14px;
}

.inputContainer input {
  padding: 8px 16px 8px 40px;
  margin-block: 6px;
  width: 100%;
  border: none;
  border-radius: var(--border-sm);
}

.inputContainer input:focus {
  outline: 2px solid var(--purple-500);
  outline-offset: -2px;
}
