.recipe-container {
  padding: 20px;
  background-color: #f4f4f2; /* neutral beige */
}

.recipe-content {
  padding: 40px 0;
}

.recipe-heading {
  font-size: 2.5rem;
  color: #4d834e; /* muted green */
}

.recipe-description {
  font-size: 1.1rem;
  color: #6c757d; /* neutral gray */
}

.recipe-features {
  margin-top: 40px;
}

.feature-heading {
  font-size: 1.5rem;
  color: #4d834e; /* muted green */
}

.feature-description {
  font-size: 1.1rem;
  color: #6c757d; /* neutral gray */
}

.upgrade-section {
  margin-top: 40px;
}

.upgrade-heading {
  font-size: 1.5rem;
  color: #4d834e; /* muted green */
}

.recipes-section {
  margin-top: 40px;
}

.recipes-heading {
  font-size: 1.8rem;
  color: #4d834e; /* muted green */
}

.whats-hot-heading {
  font-size: 1.2rem;
  color: #6c757d; /* neutral gray */
}

.bg-image {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  height: 50vh;
}

.hero-section {
  background-size: cover;
  background-position: center;
  min-height: 80vh; /* Adjust as needed */
}

.card {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for recipe of the day */
}


/* src/App.css */
/* .gpt3__possibility {
    display: flex;
    flex-direction: row;
  } */

/* .gpt3__possibility-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
  } */

/* .gpt3__possibility-image img {
    width: 100%;
    height: 100%;
  }
  
  .gpt3__possibility-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .gpt3__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #333333;
  } */
/* .gpt3__possibility-content h4:last-child {
    color: #333333;
  }
  .gpt3__possibility-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
  }
  .gpt3__possibility-content p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    margin-bottom: 2rem;
  }
  
  @media screen and (max-width: 950px) {
    .gpt3__possibility {
      flex-direction: column;
    }
  
    .gpt3__possibility-image {
      margin: 1rem 0;
    } */

/* .gpt3__possibility-content {
      margin-top: 2rem;
    }
  }
   */
