.exercises-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
}

.exercises-title {
  align-self: center;
  margin-bottom: 46px;
}

.exercises-result-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

}

.pagination {
  margin-top: 20px;
  align-self: center;

}