.routine-container {
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 2%;
    background-image: var(--gradient-background);
}

.routine-table-container {
    width: 100%;
    overflow-x: auto;

}

.routine-table {
    width: 100%;
    border-collapse: collapse;

}

.routine-table th,
.routine-table td {
    border: 1px solid var(--secondary-color);
    padding: 10px;
    text-align: center;
    color: var(--white-text);
}

.routine-table th {
    background-color: var(--primary-color);
}

.routine-title {
    color: var(--white-text);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.exercise-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.exercise-list-item {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .routine-table-container {
        overflow-x: visible;
    }

    .routine-table,
    .routine-table thead,
    .routine-table tbody,
    .routine-table th,
    .routine-table td,
    .routine-table tr {
        display: block;
        width: 100%;
    }

    .routine-table thead tr {
        display: table-row;

    }

    .routine-table th,
    .routine-table td {
        width: auto;
        display: block;
        text-align: left;
        padding-left: 50%;
        position: relative;
    }

    .routine-table th {
        text-align: center;
        padding-left: 0;
    }

    .routine-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        white-space: nowrap;
        font-weight: bold;
    }

    .routine-table td {
        text-align: left;
    }
}