.user-container {
    display: grid;
    width: 100%;
    grid-template-areas:
        "userdata calendar"
        "routine routine"
        "search search"
        "exercises exercises";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 90px;
}



.user-data {
    grid-area: userdata;
}


.user-routine {
    grid-area: routine;
}

.user-calendar {
    grid-area: calendar;
    height: auto;

}

.search-exercise {
    grid-area: search;
}

.exercises {
    grid-area: exercises;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .user-container {
        grid-template-areas:
            "userdata"
            "calendar"
            "routine"
            "search"
            "exercises";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 1fr;
        gap: 10px;
        padding: 20px;
        box-sizing: border-box;
        margin-top: 90px;
        height: auto;
    }
}