.container-form {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary-color);
}

.form {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: white; 
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darken(var(--primary-color), 10%);
}
