._bookingContainer {
  position: relative;
  width: 100%;
  padding: 12px;
  margin-block: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-md);
  background-color: var(--white);
  color: var(--gray-900);
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  text-align: center;
  cursor: pointer;
}

._button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 23px;
  height: 23px;
  color: var(--gray-100);
  background-color: var(--highlight);
  border: none;
  border-radius: 50%;
  transition: color 0.2s;
}

._button:hover {
  background-color: var(--gray-900);
  color: var(--gray-100);
}
