[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
sqlalchemy = "==1.4.46"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"
cloudinary = "*"
flask-admin = "*"
typing-extensions = "*"
colorama = "*"
flask-jwt-extended = "*"
scrypt = "*"
boto3 = "*"
pillow = "*"
webp = "*"
fnvhash = "*"
urllib3 = "*"

[requires]
python_version = "3.10.6"

[scripts]
test="python test.py"
dev="python src/render_wsgi.py"
start="flask run -p 3001 -h 0.0.0.0"
init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"
downgrade="flask db downgrade"
remake="python scripts.py --remake"
insert-test-data="flask insert-test-data"
