<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: 'Outfit', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        img {
            width: 100px; 
            margin: 10px auto; 
            display: block;
        }
    </style>
</head>
<body style="margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif;">
    <div style="background-color: #fff; width: 80%; margin: 20px auto; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <div style="background-color: #a07b00; color: #ffffff; padding: 10px 20px; text-align: center;">
            <img src="https://res.cloudinary.com/dxzhssh9m/image/upload/v1713694613/Logo_sin_fondo_bj8i38.png" alt="Urban Treasures Logo">
            <h1>Welcome to Urban Treasures!</h1>
        </div>
        <div style="padding: 20px;">
            <p>Hi {{ username }}!</p>
            <p>We're excited to have you on board and hope you enjoy your adventure with us. Feel free to explore and connect with others as you discover the treasures we have to offer.</p>
            <p>If you have any questions or need assistance, don't hesitate to reach out. We're here to help!</p>
        </div>
        <div style="text-align: center; padding: 10px 20px; background-color: #eee; color: #333;">
            Best regards,<br>
            The Urban Treasures Team
        </div>
    </div>
</body>
</html>
