._form {
  z-index: 10;
  width: 480px;
}

@media (max-width: 678px) {
  ._form {
    width: 300px;
  }
}

._fail {
  color: var(--highlight);
  text-align: center;
  margin: 10px 0 ;
}

._registerLink {
  font-weight: var(--font-semibold);
  font-size: var(--text-sm);
  line-height: 1;
  text-decoration: underline;
  text-align: center;
  color: var(--gray-900);
  margin-right: 20px;
}
