/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
/* About.css */
.about-section {
  background-color: #121212; /* Fondo dark */
  padding: 80px 0;
}

.about-content {
  padding: 20px;
  color: #fff;
}

.about-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-out;
}

.about-description {
  font-size: 1.1rem;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-out;
}

.about-image {
  border-radius: 10px;
  animation: fadeInRight 1s ease-out;
}

.emphasis {
  color: #1eff00; /* Verde fosforescente */
  font-weight: bold;
}

.emphasis-green {
  color: #1eff00; /* Verde fosforescente */
}

/* Animaciones personalizadas */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
