
.Titulo-principal-about{
    font-size: 48px;
    color: #416788; 
    text-align: center;
    font-family: 'Lora', serif;
    margin-top: 4%;
}
.about{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-block-end: 5%;
    margin-top: 2%;
    border: 4px; /* Borde de 4px de grosor*/
    border-radius: 12px; /* Bordes redondeados para la imagen */
}
.about__main-content{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;  
    padding: 1rem;
    

}
.card-body-about{
    text-align: center;
    max-width: 80%; 
    margin-left: 10%;
    margin-right: 10%;
    margin-block-end: 5%;
    margin-top: 5%;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    color: #416788;
}
.card-img-top-about{
    height: 450px;
    box-shadow: 0 4px 8px #416788;
}
.cartaAbout{
    background-color: white;
}