@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Contenedor principal */
.ar-container {
    display: flex; 
    gap: 20px; 
    padding: 20px;
    min-height: 93vh;
    align-items: center;
    margin: auto;
}


/* CALENDARIO */

.ar-calendar-card {
    width: 40%; 
}


/* FORM */

.ar-form-card {
    width: 60%;
    border: none;
    margin: auto;
    padding: 70px;
}

.ar-card-body {
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ar-form-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.ar-column-one, .ar-column-two {
    display: flex;
    flex-direction: column; 

}

.ar-form-group {
    display: flex; 
    align-items: center; 
    margin-bottom: 35px; 

}

/* Label */
.ar-form-group label {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 85px; 
    margin-right: 30px;
    background-color: #FBEE84; 
    height: 50px; 
    border-radius: 25px;
    color: #075E81; 
    text-align: center; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22pt;
}

/* Input */
.ar-form-group input, 
.ar-form-group textarea {
    border-radius: 25px;
    width: 200px;
    height: 50px; 
    border-width: 3px; 
    border-color: #075E81; 
    border-style: solid; 
    box-shadow: none; 
    padding: 0 10px; 
    outline: none; 
    padding-left: 5px;
    text-align: center;
    font-size: 13pt;
}

/* Textarea */
.ar-form-group.textarea-group {
    flex-direction: column;
    align-items: flex-start; 
}

.ar-form-group.textarea-group label {
    display: flex; 
    align-items: center; 
    justify-content: left; 
    padding: 20px;
    width: 100%; 
    margin-right: 30px;
    background-color: #FBEE84; 
    height: 50px; 
    border-radius: 25px;
    color: #075E81; 
    text-align: center; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17pt;
    margin-bottom: 35px;
}

.ar-form-group textarea {
    border-radius: 25px; 
    border-width: 3px; 
    border-color: #075E81; 
    border-style: solid; 
    box-shadow: none; 
    padding: 10px; 
    resize: vertical; 
    width: 100%; 
    height: 220px; 
}

/* Botones */
.ar-button-container {
    display: flex; 
    gap: 14px; 
    justify-content: center; 
    margin-top: 35px;
    width: 100%;
}

.ar-button {
    font-family: "Poppins", sans-serif; 
    font-size: 18pt; 
    padding: 0 20px;
    cursor: pointer; 
    border: none;
}

.ar-btn-primary {
    background-color: #B4E49D; 
    color: #075E81; 
    border-radius: 25px; 
    height: 50px; 
    font-weight: 600;
    font-size: 15pt;
    border: none;
}

.ar-btn-secondary {
    background-color: #075E81; 
    color: white; 
    border-radius: 25px; 
    height: 50px; 
    font-size: 15pt;
    border: none;
    width: 50%;
}

.ar-btn-primary:hover {
    background-color: #075E81; 
    color: white;
}

.ar-btn-secondary:hover {
    background-color: #B4E49D;
    color: #075E81;
}



/* Switch */
.ar-switch-container {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ar-switch-container label {
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

.ar-form-group-kinder{
    margin-right: 0 !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Estilo para el slider del interruptor */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: .4s;
    border-radius: 34px;
    border: 3px solid #075E81; /* Borde añadido */
}
  
  /* El círculo dentro del slider */
  .slider:before {
    position: absolute;
    content: "";
    height: 37px;
    width: 37px;
    border-radius: 50%;
    left: 3px;
    bottom: 3px;
    background-color: #075E81;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #075E81; /* Color cuando está activado */
  }
  
  input:checked + .slider:before {
    transform: translateX(35px);
    background-color: white;
  }


  /* Estilo para el menú desplegable */
  .ar-form-group select {
      border-radius: 25px;
      width: 200px;
      height: 50px;
      border-width: 3px;
      border-color: #075E81;
      border-style: solid;
      box-shadow: none;
      padding: 0 10px;
      outline: none;
      font-family: "Poppins", sans-serif;
      font-size: 13pt;
      background-color: white;
      text-align: center;
  }

  .ar-form-group select {
      -webkit-appearance: none; 
      -moz-appearance: none;
      appearance: none; 
      background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KICAgIDxwYXRoIGQ9Ik0wIDQuMTExN0MwIDMuMTYzIDMuMTYzIDAgNC4xMTFhMSAxIDAgMCAxIDEgMS42MzYgMS42MzYgMCAwMSAxLjYzNiAxLjYzNiAwIDAgMSAtMS42MzYtMS42MzYiIHN0cm9rZS1saW5lLWxpbmU9InJvdW5kIiBzdHJva2Utd2lkdGg9IjIuMCIgc3Ryb2tlLWRhc2hhcnJheT0icm91bmQiIHN0cm9rZS1vcGFjaXR5PSJzY2FsZSIgc3Ryb2tlLWNhcHM9IjQuMCIgc3Ryb2tlLWxpbmUtd2lkdGg9IjIiLz4KPC9zdmc+'); /* Flecha personalizada */
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 20px;
  }
  
  .ar-form-group select[type="number"] {
      -moz-appearance: textfield;
  }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@media (max-width: 768px) {

    .ar-container {
        flex-direction: column; 
        padding: 20px;
        width: 100%; 
    }

    .ar-calendar-card {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .ar-form-card {
        width: 100%; 
        padding: 10px;
    }

    .ar-form-grid {
        grid-template-columns: 1fr; 
        gap: 20px; 
    }

    .ar-form-group label {
        width: 50%; 
        margin-right: 10px;
        text-align: left; 
    }
    

    .ar-form-group input, 
    .ar-form-group textarea,
    .ar-form-group select {
        width: 100%; 
    }

    .ar-button-container {
        flex-direction: column; 
        gap: 10px; 
    }

    .ar-btn-secondary {
        width: 100%; 
    }

    .ar-switch-container {
        flex-direction: row; 
        justify-content: space-between;
    }

    .ar-switch-container label {
        width: 120px;
    }

    input:checked + .slider:before {
        transform: translateX(73px); 
    }
}