.add-product-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: lightgray;
    border-radius: 10px;
    align-items: center;
}
.add-product-symbol{ 
    display: flex;
    width: fit-content;
    margin-top: 20px;
    font-size: 500% !important;
}
.guardar-button{
    margin-bottom: 20px;
}
