:root{
    --primary : #e10b76;
    --light : #fff;
    --grey: #efefef;
}
.body-adm{
    overflow: hidden;
    font-weight: 300;
    color: var(--primary);
}
a:hover{
    text-decoration: none ;
}
.bg-primary{
    background-color: var(--primary)!important;
}
.bg-light{background-color: var(--light)!important;}
#sidebar-container{
    min-height: 100vh;

}
#sidebar-container .logo{
    padding: .875rem 1.25rem ;

}
#sidebar-container .menu{
    width: 18rem;
}
.btn-search{
    right: 5px;
}
#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}
.tablero{
    background: #d2b1b1;
    padding-top: 85px;
    padding-bottom: 85px;

}