/* General Styles */
.btnSetting {
  border: 1px solid #ccc;
}
.h3, h3 {
  font-size: 1.3rem;
  margin-top: 15px;
}
.dashboard {
  text-align: center;
}

.stats {
  margin: 20px 0;
}

.stat1 {
  background-color: #ECF2FF;
  border: 2px solid #ccc;
  border-radius: 5%;
  margin-top: 15px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}
.stat2 {
  background-color: #E7FFFB;
  border: 2px solid #ccc;
  border-radius: 5%;
  margin-top: 15px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}
.stat3 {
  background-color: #FEF5E5;
  border: 2px solid #ccc;
  border-radius: 5%;
  margin-top: 15px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}
.stat4 {
  background-color: #FCEDE9;
  border: 2px solid #ccc;
  border-radius: 5%;
  margin-top: 15px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}
.stat5 {
  background-color: #EBF2FF;
  border: 2px solid #ccc;
  border-radius: 5%;
  margin-top: 15px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}

/* User List Styles */
.user-list {
  margin: 20px;
}

.user-list .table-responsive {
  overflow-x: auto;
}

.user-list table th button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: inherit;
}

.user-list table th button:focus {
  outline: none;
}

/* Modal Styles */
.modal.show {
  display: block;
}

/* ModalProfile */
/* Agrega esto a tu archivo admindashboard.css o a un archivo CSS global */

.profile-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: rgba(0, 0, 0, 0.5);
}

.profile-modal-content {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.3rem;
  outline: 0;
  max-width: 500px;
  width: 100%;
  padding: 20px;
}

.profile-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #dee2e6;
}

.profile-modal-body {
  position: relative;
  padding: 15px;
}

.profile-modal-title {
  margin: 0;
}

.close {
  background: none;
  border: none;
  font-size: 1.5rem;
}
