@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.all-blogs-container {
    padding-top: 100px;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-blogs-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22pt;
    color: white;
}

.all-blogs-big-title {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 36pt;
    color: #075E81;
    margin-bottom: 20px;
}

.all-blogs-card {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    border: 0 solid;
    margin-inline: 40px;
}

.card-img-top {
    height: 499px;
    object-fit: cover; 
    border-radius: 10px;
}

.all-blogs-btn-container {
    display: flex;
    justify-content: flex-end; 
}

.all-blogs-btn {
    background-color: #075E81;
    color: white;
    border: none;
    text-decoration: underline;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 12px;
    border-radius: 25px;
}

.all-blogs-btn:hover {
    background-color: white;
    color: #075E81;
}

.no-found {
    color: #075E81;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30pt;

}

@media (max-width: 768px) {
    .all-blogs-container {
        flex-direction: column;
    }

    .d-flex {
        flex-direction: column;
    }

    .all-blogs-card {
        width: 270px;
        max-width: 100%;
        margin-inline: 0;
        min-height: 50%;
        height: 270px;
        margin-bottom: 20px;
    }

    .card-img-top {
        height: 270px;
        width: 100%;
        border-radius: 10px;
    }

    .all-blogs-title {
        font-size: 18pt;
        text-align: center;
    }

    .all-blogs-btn-container {
        justify-content: center;
    }

    .all-blogs-btn {
        z-index: 0;
    }
}