/* General Styles */
.appointment-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .appointment-details ul li {
    background-color: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }

/* Tamaño en dispositivos móviles */
.row > * {
  width: auto !important;
  max-width: 100%;
}

/* Tamaño para dispositivos medianos y grandes */
@media (min-width: 768px) {
  .row > * {
    width: auto !important;
    max-width: 50%;
  }
}