.form-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #333;
    color: #fff;
    
}

.page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff7f00; /* Orange color */
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
}

.submit-button {
    background-color: #ff7f00; 
    color: white; 
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #cc6600; 
}

.error-message {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    background-color: red;
    color: #fff;
    margin: 20px 5px; 
  }