/* Asegúrate de importar la fuente en tu archivo CSS global o HTML */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.avg-container {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.avg-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.avg-calendar {
    flex: 1;
}

.avg-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avg-header {
    text-align: center;
    margin-bottom: 20px;
}

.avg-controls {
    margin-bottom: 20px;
}

.avg-chart {
    width: 80%; /* Ajusta el tamaño del gráfico aquí */
    height: 400px; /* Ajusta la altura del gráfico aquí */
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

label, select {
    font-family: 'Poppins', sans-serif;
}
