@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Contenedor Principal */
.blog-detail-container-bg {
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

/* Contenedor Interno */
.blog-detail-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin: 0;
}

/* Sección Izquierda (Imagen de Cabecera) */
.blog-detail-left {
    width: 40%;
    position: relative;
}

.img-header {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: 0;
}

/* Superposición del Texto */
.blog-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    color: white;
    padding: 20px;
    align-items: center;
    z-index: 1000; 
    box-sizing: border-box; 
    margin-top: 50px;
}

/* Título en la Superposición */
.blog-detail-overlay h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 36pt;
    margin: 0; 
    text-align: center;
    color: white;
    z-index: 1001;
    padding-top: 20px; 
}

/* Leyenda del Blog */
.blog-detail-legend {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 14pt;
    color: white; 
    z-index: 1001;
    margin-top: 10px; 
}

/* Sección Derecha (Texto y Segunda Imagen) */
.blog-detail-right {
    width: 60%;
    padding: 80px;
    padding-top: 110px;
    background-color: white;
    color: #075E81;
    font-family: "Poppins", sans-serif;
    overflow-y: auto; 
    z-index: 2; 
    position: relative; 
}

/* Contenido de texto principal */
.blog-detail-text {
    margin-bottom: 80px;
    font-size: 16pt; 
    line-height: 1.6; 
    color: #075E81; 
    z-index: 2; 
    position: relative;
}

.blog-detail-text p {
    margin-bottom: 50px;
}

.blog-detail-text-ingredients{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: #B4E49D;
    margin-bottom: 50px;

}

.blog-detail-container-img-final {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.blog-detail-btn-container {
    display: flex;
    justify-content: center;
}

.blog-detail-btn{
    background-color: white;
    color: #075E81;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-width: 0px;
    font-size: 16pt;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .blog-detail-overlay {
        width: 100%; /* Asegura que el overlay ocupe todo el ancho en pantallas pequeñas */
        padding: 10px; /* Reduce el padding para pantallas pequeñas */
    }

    .blog-detail-legend {
        font-size: 12pt; /* Reduce el tamaño de la fuente en pantallas pequeñas */
        margin-top: 5px; /* Reduce el margen superior en pantallas pequeñas */
    }

    .blog-detail-container {
        flex-direction: column;
    }

    .blog-detail-left, .blog-detail-right {
        width: 100%;
    }

    .img-header {
        height: 50vh;
    }
}
