/* #content {
    background-color: #0c2346;
    background-image: url("https://effective-computing-machine-v6vjj55rvpj524v7-3000.app.github.dev/world-dotted-map.png");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.padding {
    padding: 5rem;
}

@media (max-width: 991.98px) {
    .padding {
        padding: 1.5rem;
    }
}

@media (max-width: 767.98px) {
    .padding {
        padding: 1rem;
    }
}

.card {
    background-color: transparent; 
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem;
    padding: 2rem;
}

.card-header {
    background-color: transparent;
    border-color: rgba(160, 175, 185, .15);
    background-clip: padding-box;
    font-weight: bold;
    font-size: 1.25rem;
}

.card-footer {
    background-color: transparent; 
    border: none; 
    display: flex;
    justify-content: space-between; 
}

form {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: .5rem;
    color: #6c757d;
}

input,
select,
textarea {
    width: 100%;
    padding: .375rem .75rem;
    margin-bottom: .5rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

input[type="submit"] {
    margin-top: 1rem;
}

.error-message {
    color: #f54394;
    margin-bottom: 1rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.previous-button {
    margin-right: auto; 
}

.next-button {
    margin-left: auto; 
}

button {
    border: none;
    padding: .5rem 1rem;
    border-radius: .25rem;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.d-flex .justify-content-end {
    justify-content: flex-end;
}

.mt-3 {
    margin-top: 1rem;
}

.ant-picker-suffix svg {
    width: 1em !important;
    height: 1em !important;
}

.ant-picker-clear svg {
    width: 1em !important;
    height: 1em !important;
}

.appointment-description {
    max-width: 400px; 
    margin-bottom: 20px;
    line-height: 1.5;
  }

