.cell-size {
    height: 2.2em;
  }
  
  .timeFont {
    font-size: 9.9px;
  }
  
  .scroller::-webkit-scrollbar {
    background: #9c9c9c;
    height: 5.8px;
  }
  .scroller::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
  }
  
  .modalTD {
    transition: 0.4s ease-in-out;
  }
  .modalTD:hover {
    cursor: pointer;
    background-color: rgb(72 177 186) !important;
  }
  
  .titleLeft,
  .titleRight,
  .arrowLeft,
  .arrowRight {
    position: relative;
  }
  
  .titleLeft:before,
  .titleRight:before {
    content: attr(data-program-name);
    position: absolute;
    top: 0;
    background-color: #ea6f36;
    color: white;
    padding: 0.4rem;
    font-size: 0.8rem;
    border-radius: 5.9%;
  }
  
  .titleLeft:before {
    right: 96%;
  }
  
  .titleRight:before {
    left: 91%;
  }
  
  .arrowLeft:before,
  .arrowRight:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
  }
  
  .arrowLeft:before {
    border-top: 5.5px solid transparent;
    border-right: 9px solid #ea6f36;
    border-bottom: 6.5px solid transparent;
    right: 9%;
    top: 1px;
  }
  
  .arrowRight:before {
    border-top: 5.5px solid transparent;
    border-left: 9px solid #ea6f36;
    border-bottom: 6.5px solid transparent;
    left: 4%;
    top: 1px;
  }

  .react-responsive-modal-closeButton {
    display: flex;
    justify-content: center;
    top: 1px !important;
    right: 3px !important;
    width: 7%;
    fill: rgb(53 133 140);
}

.customModal {
  
  width: 34%;
}
@media screen and (max-width: 1001px ){
  .customModal {
    
    width: 45%;
  }
  
}
@media screen and (max-width: 668px ){
  .customModal {
    
    width: 60%;
  }
  
}

.mobileInfoText{
  font-size:.88rem;
}