.cards-review {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.card-review {
  background: var(--color-5);
  height: 350px!important;
  width: calc(25% - 20px); 
  margin-bottom: 20px;
}



/* Media query */
@media screen and (max-width: 1200px) {
  .card-review {
    width: calc(33.33% - 20px); 
  }
}

@media screen and (max-width: 768px) {
  .card-review {
    width: calc(50% - 20px); 
  }
}

@media screen and (max-width: 576px) {
  .card-review {
    width: 100%; 
  }
}