.list-offer-box{
    position: relative;
    left: 21%;
    margin-bottom: 10px;
}
.list-offer-container {
    position: relative;
    right: 70px;
}

.no-offers-section{
    position: relative;
    top: 50px;
}