.card-offer {
    position: relative;
    display: flex;
    border: 1px solid #f3eaea;
    border-radius: 4px;
    background-color: #fff;
    transition: box-shadow 0.2s;
    width: 100%;
    max-width: 825px;
    height: auto;
    border-color: #fff 0.5px;
    overflow: hidden;
}

.card-offer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card-offer-logo {
    width: 120px;
    max-width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.card-offer-logo-container {
    height: fit-content;
    max-width: 120px;
}

.heart-icon {
    position: absolute;
    right: 10px;
    color: rgb(103, 147, 174);
    font-size: 1.9rem;
}

.heart-icon:hover {
    color: rgb(135, 193, 229);
}

.card-offer-company {
    position: relative;
    bottom: 20px;
    font-size: 0.9rem;
    color: #007bff;
}

.card-offer-company:hover {
    text-decoration: underline;
}

.header-box .card-offer-title {
    font-size: 1.5rem;
}

.card-offer-description {
    position: relative;
    bottom: 15px;
    font-size: 0.85rem;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3.6em;
}

.text-description {
    line-height: 1.2em;
}

.card-offer-details {
    list-style: none;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.data-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 10px 0;
}

.card-offer-details li {
    position: relative;
    top: 10px;
}

.card-offer-details .list-footer-details:first-child {
    position: relative;
    right: 130px;
    list-style: none;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.card-offer-details .list-footer-details:nth-child(3) {
    font-size: 0.85rem;
}

.card-offer-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-size: 0.85rem;
}

.card-offer-actions .btn-details {
    position: relative;
    left: 70px;
    background-color: rgb(103, 147, 174);
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
}

.card-offer-actions .btn-inscribirse,
.card-offer-actions .btn-desinscribirse {
    position: relative;
    left: 50px;
    background-color: rgb(103, 147, 174);
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
}

.card-offer-actions .btn-details:hover,
.card-offer-actions .btn-inscribirse:hover,
.card-offer-actions .btn-desinscribirse:hover {
    color: white;
    background-color: rgb(135, 193, 229);
}

.num-postulados {
    font-size: 0.75rem;
    white-space: nowrap;
}
