.card-offer-premium {
    position: relative;
    display: flex;
    border: 3px solid gold;
    color: gold;
    border-radius: 4px;
    transition: box-shadow 0.2s;
    width: 100%;
    max-width: 825px; 
    background-color: rgb(44, 48, 53);
    height: auto;
    border-color: #fff 0.5px;
    overflow: hidden;
    
}
.card-offer-premium:hover {
    box-shadow: 0 16px 32px rgb(135, 193, 229);
    cursor: pointer;
}

.card-offer-logo-premium {
    width: 100%; 
    max-width: 120px; 
    height: auto; 
    object-fit: cover;
    border-radius: 4px;
}
.card-offer-logo-premium {
    width: 100%;
    max-width: 120px; 
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.card-offer-logo-premium-container{
    height: fit-content;
    max-width: 120px;
}

.heart-icon-premium {
    position: absolute; 
    right: 10px; 
    color: gold;
    font-size: 1.9rem;
}

.heart-icon-premium:hover {
    color: gold
}

.card-offer-company-premium {
    position: relative;
    bottom: 20px;
    font-size: 0.9rem;
    color: #007bff;
}

.card-offer-company-premium:hover {
    text-decoration: underline;
}

.header-box-premium .card-offer-title-premium {
    font-size: 1.5rem;
    margin-bottom: 10px; 
}

.card-offer-description-premium {
    position: relative;
    bottom: 15px;
    font-size: 0.85rem;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3.6em;
    margin-bottom: 10px; 
}

.card-offer-details-premium{
    list-style: none;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-description-premium {
    line-height: 1.2em;
}

.card-offer-actions-premium {
    display: flex;
    align-items: center;
    position: relative;
    left: 60px;
    bottom: 10px;
}

.card-offer-actions-premium .btn-details-premium,
.card-offer-actions-premium .btn-inscribirse-premium,
.card-offer-actions-premium .btn-desinscribirse-premium {
    padding: 4px 8px; 
    font-size: 0.75rem;
    border-radius: 4px;
    border: none;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    min-width: 100px; 
    max-width: 120px; 
    box-sizing: border-box; 
}

.btn-details-premium {
    background-color: rgb(103, 147, 174);
}

.btn-inscribirse-premium,
.btn-desinscribirse-premium {
    background-color: rgb(225, 255, 0);
}

.card-offer-actions-premium .btn-details-premium:hover,
.card-offer-actions-premium .btn-inscribirse-premium:hover,
.card-offer-actions-premium .btn-desinscribirse-premium:hover {
    color: white;
    background-color: rgb(135, 193, 229);
}
.num-postulados-premium {
    font-size: 0.75rem;
    white-space: nowrap; 
}
