@import url('./variables.css');

.cart-container {
    display: flex;
}

.cart-container .main-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.cart-container .aside-container {
    position: relative;
    width: 30%;
    border-left: 1px solid var(--color-forest);
    min-height: 200px;
}

.cart-container .aside-container .buttons-container {
    position: fixed;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 20%;
}

.cart-container .aside-container .buttons-container button {
    border: 1px solid var(--color-forest);
    background: var(--color-light-green);
    border-radius: 4px;
    padding: 0.6em;
    margin: 1em;
    font-weight: bolder;
    transition: 0.4s ease;
    width: 80%;
}

.cart-container .aside-container .buttons-container .checkout-btn {
    color: var(--color-forest);
    font-size: 1.2em;
}

.cart-container .aside-container .buttons-container .checkout-btn:hover {
    background: var(--color-green);
}

.cart-container .aside-container .buttons-container .clear-cart-btn {
    background: var(--color-light-green);
    color: var(--color-forest);
    font-size: 1.2em;
}

.cart-container .aside-container .buttons-container .clear-cart-btn:hover {
    background: var(--color-red);
    color: var(--color-white);
}

@media (width < 980px) {
    .cart-container .aside-container .buttons-container .checkout-btn,
    .cart-container .aside-container .buttons-container .clear-cart-btn {
        font-size: 1em;
    }
}
@media (width < 840px) {
    .cart-container .aside-container .buttons-container .checkout-btn,
    .cart-container .aside-container .buttons-container .clear-cart-btn {
        font-size: 0.8em;
    }
}

@media (width < 768px) {
    .cart-container {
        flex-direction: column;
    }

    .cart-container .main-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .cart-container .aside-container {
        border-top: 1px solid var(--color-forest);
        border-left: none;
        min-width: 90%;
        min-height: 160px;
        margin: 1em auto;
    }
    .cart-container .aside-container .buttons-container {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        min-width: 100%;
        margin: 1em 0;
    }
    .cart-container .aside-container .buttons-container .checkout-btn,
    .cart-container .aside-container .buttons-container .clear-cart-btn,
    .cart-container .aside-container .buttons-container .total-amount {
        font-size: 1.4em;
    }
}
