body {
    background: radial-gradient(ellipse at bottom, #2B3E84 50%, #000 100%);
}

#globo-info{
    background-color: rgba(192, 192, 192, 0.5);
    border-radius: 15px 15px 15px 15px;
    margin-top: 20px;
}

#logo-casa {
    width: 150px;
    height: 150px;
    background-color:rgba(217,217,217,0.8);
    margin: 15px 15px 15px 10px;
    margin-left: 3%;
    border-radius: 10%;
    display:flex;
    justify-content: center;
}
p{
 margin: 2px;   
}
#info-casa{
    width: 350px;
    height: 150px;
    background-color:rgba(217,217,217,0.8);
    margin: 15px 15px 15px 20px; 
    margin-right:3%;
    border-radius: 15px 15px 15px 15px;
    display:flex;
    flex-direction: column;
    align-items: center;   
}

#dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    

}

#maps {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-self: center;
    padding: 15px;
    border-radius: 15px 15px 15px 15px;
    background-color:rgba(217,217,217,0.8);
}

#boton-casa {
    background-color: #2B3E84;
    border-radius: 20px 20px 20px 20px;
    color: white; 
    display: flex;
    align-items:center;
    justify-content: center;
    align-self: center;
    width: 35%;
    height: 35px;
    transition: background-color .5s;
    margin-top: 3%;
}

a {
    text-decoration: none;
    color: white; 
}


#boton-casa:hover {
    background-color:rgba(251, 249, 234, 0.709);
    color:#2B3E84;
    border: none;
    scale: 1.2;
}

a:hover{
    color:#2B3E84;
}


#suiza {
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    height: 125px;

}