#cliente-card {
    max-width: 20rem;
    max-height: 15rem;
    margin-top: 50px;
    margin-left: 20px;
}

img {
    margin: 15px;
}

.card-header {
    color: rgb(48, 125, 246);
    text-align: center;
    margin: 15px;
}