// para cards de categorias  .mr-D es con la imagen derecha y .mr-I con imagen izquierda

.cardtotal{
    background-color: transparent;
    text-align: center;
    border: none;
}

.ingredientes-instru{
    background-color: transparent;
    text-align: center;
}