// para cards de categorias  .mr-D es con la imagen derecha y .mr-I con imagen izquierda


.mr-cocktail{
    width: 100%;
height: 100%;

}

.CarsCocktails{
    margin-top: 200px;
   background-color: transparent;
   color: white;
   padding: 5px;
}