.comments-section{
    color: rgba(255, 255, 255, 0.70);
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    max-height: 300px; /* Ajusta esta altura según sea necesario */
    overflow-y: auto;
    overflow-x: hidden;
}
.comment-box  {
    max-width: 950px;
    background-color: none;
}

.comment-box:focus {
    background-color: none;
}

