.course-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  .folder {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    width: 120px; 
    height: 80px; 
    background-color: #f7d514; 
    border: 2px solid #5d5a5a4d;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
    overflow: hidden; 
  }
  
  .folder::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 10px;
    width: 60px;
    height: 20px;
    background-color: #636262;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .folder:hover {
    background-color: #ffff00;
  }
  
  .folder a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    word-wrap: break-word; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }
  .fileUploader{
    background-color: #999999;
  }
 
  .cardEdit {
    transition: transform 0.3s ease-in-out;
}

.cardEdit:hover {
    transform: scale(1.05);
}

.addEdit{
  transition: transform 1.3s ease-in-out;
}

.addEdit:hover{
  background-color: aqua;
}


.btnFav {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  color: #165D95;
  font-size: 20px;
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.btnFav:hover {
  border: 0.3px solid #F6CA1F;
  background-color: #F6CA1F;
  color: #165D95;
}

.letter{
  color: #165D95;
  font-size: 20px;
}

nav {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.custom-spinner {
  position: relative;
  width: 64px;
  height: 64px;
}

.spinner-image {
  position: absolute;
  animation: spin 2s infinite linear, scale 2s infinite alternate;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente */
  z-index: 1000; /* Colocar el spinner por encima de todo */
}