.body {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-sizing: border-box;
    max-width: 97%;
    padding: 15px;
    background-color: rgb(220, 235, 242);
}
