.contact-form-container{
    width: 50%;
    align-items: center;
    margin-top: 120px;
}

#name{
    margin-right: 5px;
}

.fcContact{
    margin-top: 7px;
    border-radius: 3px;
    margin-bottom: 5px;
}

textarea{
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
}

#submit-button{
    margin-top: 5px;
    width: 384px;
}

textarea{
    margin-top: 5px;
    width: 384px;
}

#email{
    width: 384px;
}

.body-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ubication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.ubication-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.formContact{
    width: 550px;
    margin-right: 75px;
}