.Titulo-principal{
    font-size: 48px;
    color: #000022; 
    text-align: center;
}
.contacto{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    background-color: #000022;
    margin-left: 30%;
    margin-right: 30%;
    margin-block-end: 10%;
    margin-top: 4%;
    box-shadow: 6px 6px 5px 6px #0000223f;
}
.contacto__main-content{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;  
    padding: 1rem;
}
.card-img-top{
    height: 400px;
}