@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.contact-body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.contactUs-container {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: absolute;
    width: 780px;
    max-width: 100%;
    min-height: 480px;
}

.contactUs-container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.contactUs-container span {
    font-size: 12px;
}

.contactUs-container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.contactUs-container button {
    background-color: #1d0e3f;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.contactUs-container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.contactUs-container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    width: 100%;
    outline: none;
}

.contactUs-container-left {
    background-color: #1d0e3f;
    color: white;
    position: absolute;
    height: 100%;
    width: 50%;
    right: 50%
}

.contactUs-container-right {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 50%;
}

/* este @media es para pantalla mas pequenas de telefonos */
@media (max-width: 768px) {
    .contactUs-container {
        width: 100%;
        flex-direction: column;
        position: static;
        box-shadow: none;
    }

    .contactUs-container-left,
    .contactUs-container-right {
        position: relative;
        width: 100%;
        height: auto;
        right: 0;
        left: 0;
    }

    .contactUs-container button {
        width: 100%;
    }

    .contactUs-container form {
        padding: 20px;
    }
}

