.iconos {
    max-width: 50px;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0px auto;
}
.card{
    text-align: center;
    width: 200px;
    cursor: pointer;
    margin:  0 20px;
}
.card.selected{
    border: 3px solid #8C52FF;
}