

.my-search-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.jumbotron {
  background: linear-gradient(rgba(255, 183, 94, 0.8), rgba(255, 141, 117, 0.8)), url("https://images.unsplash.com/photo-1533371452382-d45a9da51ad9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=873&q=80");
  background-size: cover;
  color: #ffffff;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.jumbotron h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.jumbotron .lead {
  font-size: 20px;
}


