/*SECCION DE FARMER VIEW*/

.logo {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

/*backdrop-filter: blur(3px);*/

.cropCard_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}
