.favorites-body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}


.search-bar {
    width: 100%;      
    display: flex;
    margin-bottom: 20px; 
    justify-content: center;
}

.search-bar .form-control {
    flex-grow: 1;
    border-radius: 4px 0 0 4px;
}

.btn-search {
    background-color: rgb(103, 147, 174);
    color: black;
    padding: 5px 11px;
    height: 100%;
    width: 100px;
    border-radius: 0 4px 4px 0;
}
.btn-search:hover {
    background-color: rgb(135, 193, 229);
    color: aliceblue;
}

.header-box h3{
    color: rgb(103, 147, 174);
    font-size: 1.8rem;

}

.header-box h2{
    font-size: 3rem;
}


/* Contenedor principal */
.favorites-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #6793AE; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Título de la página */
.favorites-title {
    font-size: 36px;
    font-weight: bold;
    color: #6793AE;
    margin-bottom: 40px;
    text-align: center;
}

/* Estilos para la fila que contiene las tarjetas */
.favorites-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centrar las tarjetas horizontalmente */
    align-items: center;     /* Alineación vertical si hay varias filas */
    width: 100%;
}

/* Estilos para cuando no hay ofertas favoritas */
.favorites-no-favorites {
    font-size: 18px;
    color: #999;
    text-align: center;
    margin-top: 50px;
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 768px) {
    .favorites-container {
        padding: 10px;
    }

    .favorites-title {
        font-size: 28px;
    }
}