.favoritos-body {
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.favoritos-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.favoritos-card {
    border: 1px solid #bdd5ea;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

.favoritos-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, #6793AE, #fbc2eb);
    z-index: 1;
}

.favoritos-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.favoritos-card-body {
    padding: 25px;
    position: relative;
    z-index: 2;
}

.favoritos-card-title {
    font-size: 1.75rem;
    color: #50708E;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}

.favoritos-card-text {
    font-size: 1rem;
    color: #444;
    line-height: 1.8;
    margin-bottom: 15px;
    font-weight: 400;
}

.favoritos-btn {
    font-size: 1rem;
    padding: 12px 24px;
    border-radius: 50px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 3px 10px rgba(103, 147, 174, 0.2);
}

.favoritos-btn {
    background-color: #6793AE;
    border: none;
    color: white;
}

.favoritos-btn:hover {
    background-color: #50708E;
    box-shadow: 0 4px 15px rgba(103, 147, 174, 0.3);
}

.favoritos-text-center {
    text-align: center;
}

.favoritos-mt-5 {
    margin-top: 3rem;
}

.favoritos-mb-3 {
    margin-bottom: 1.5rem;
}

.favoritos-col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .favoritos-card-title {
        font-size: 1.5rem;
    }

    .favoritos-card-text {
        font-size: 0.95rem;
    }

    .favoritos-btn {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}