.favoritos-page-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f0f2f5;
}

.favoritos-page-title {
    font-size: 2.5rem;
    color: #50708E;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    position: relative;
}

.favoritos-page-title::after {
    content: '';
    width: 80px;
    height: 4px;
    background: linear-gradient(90deg, #6793AE, #fbc2eb);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.favoritos-page-row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.favoritos-page-mt-5 {
    margin-top: 3rem;
}

.favoritos-page-mb-4 {
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .favoritos-page-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}