.customCheck {

    width: 10px;
    height: 10px;
    background-color: green;
}


.customFilterImage{
  width: 30px;
  height: 30px;
  color: white;
}

.card-item {
  margin-right: 70px; 
}

.year-options {
    height: 160px; /* Ajusta la altura deseada */
    overflow-y: auto;
  }
  
  .year-select {
    width: 100%;
    height: 100%;
  }

.buttonShowMore {
  background-color: rgb(57, 133, 220);
  color: white;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  font-size: 12px;

}

label {
  color: black;
  font-size: medium;
 
}

h4{
  font-weight: bold;
}
