@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}


.custom-button {
  background-color: #257895; 
  color: white; 
  font-size: medium;
  border: none; 
}

.followed{
  background-color: #408642;
}

