.footer {
    height: 70px;
    width: 100%;
    background: #6793AE;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: 0;
    left: 0;
}

.text-footer {
    font-size: 10px;
}

.iconos-footer {
    font-size: 20px;
}

.footer-link {
    text-decoration: none;
    color: inherit;
}

.footer-link:hover {
    border-bottom: 1px solid white;
    font-weight: bold;
    padding-bottom: 3px;
    color: white;
}

.rrss {
    color: rgb(235 243 255)
}