.container-footer, .container-footer-fluid, .container-footer-lg, .container-footer-md, .container-footer-sm, .container-footer-xl, .container-footer-xxl {
    max-width: 85%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    display: block;
    margin: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}

/* @media (min-width: 992px)
.container-footer, .container-footer-lg, .container-footer-md, .container-footer-sm {
    max-width: 960px;
}

@media (min-width: 768px)
.container-footer-footer, .container-footer-md, .container-footer-sm {
    max-width: 720px;
}
@media (min-width: 576px)
.container-footer-footer, .container-footer-sm {
    max-width: 540px;
} */