.form-box{
    width: 60%;
    background-color: white;
    border: 1px solid #f3eaea;
    border-radius: 4px;
    position: relative; 
}

.form-header{
    position: relative;
    left: 190px;
    width: 70%;
}

.form-header h2{
    font-size: 3rem;
    color: rgba(33, 37, 41, 0.75);
}

.form-header span{
    font-size: 1.8rem;
    color: rgb(103, 147, 174);
}

.check-box-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.img-container{
    position: relative;
    bottom: 300px;
    left: 110px;
    box-sizing: border-box;
}

.img-thumbnail {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
}

.img-preview{
    position: absolute;
    max-width: 100%; 
    max-height: 300px; 
    width: 250px;
    height: 250px;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.box-description{
    position: relative;
    top: 32px;
    box-sizing: border-box;
}

.button-box{
    position: absolute;
    bottom: 15px;
    right: 15px;
}