//ESTLOS GALLERY******************************************************************************************************
.img-fluid {
  width: 120%;
  height: 100%;
}

.caja{
    height: 200px;
    //border: 1px solid red;
}

.caja5{
     height: 300px;
    //@at-root: 1px solid red;
}
.container{
    margin-bottom: 250px;
}
.row{
    margin-bottom: 30px;
}