.card {
  height: 100%;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.btn {
  align-self: flex-end;
  margin-top: auto;
  position: "absolute";
  bottom: 0;
}
