.webLi {

    font-size: large;
    font-weight: bolder;
    color: black;
    margin-left: -35px;
}

.textGarage {
    font-weight: bolder;
    color: black;
}

.textAddress {
    font-size: large;
}