.mb-3 {
  font-weight: 900;
  margin-top: 45px;
}

.p-5 {
  color: #ffffff;
  height: 800px;
}

.footer {
  text-align: center;
}

img {
  border-radius: 15%;
}

.card {
  border-color: #ffffff;
}

.sectores {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
