.navbar-brand-custom {
  display: inline-block;
  margin-right: 15px; /* Ajusta el margen derecho según tus necesidades */
}

.navbar-brand-custom:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.navbar-brand-custom a {
  text-decoration: none; /* Elimina el subrayado del enlace si es necesario */
  color: inherit; /* Hereda el color del texto del padre */
}

/* Agrega estilos para centrar los elementos en la barra de navegación */
.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75%;
}

.navbar-brand.mb-0.h1 {
  margin-bottom: 0; /* Elimina el margen inferior predeterminado de las etiquetas h1 */
}

.easy-jobs {
  display: block;
}

@media (min-width: 1080px) {
  .easy-jobs {
    display: flex;
  }
}

.text-container,
.image-container {
  /* flex: 1; Esto hace que ambos ocupen la misma cantidad de espacio */
  padding: 20px; /* Puedes ajustar el relleno según sea necesario */
  box-sizing: border-box; /* Incluye el relleno en el ancho/altura total */
  margin: 0 auto;
  width: 520px;
}

.text-container p {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  /* Otros estilos de texto según tu preferencia */
}

.image-container > img {
  margin: 0 auto;
  width: 100%;
  height: 520px;
  padding: 0;
  width: 520px;
  border-radius: 15px;
  border: 1px solid #dddcdc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* Otros estilos de imagen según tus preferencias */
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 500px;
}

.button-container button {
  padding: 10px;
  border: 1px solid #646464;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.button-container button.blue {
  border: 1px solid #646464;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
}

.button-container button:hover {
  background-color: #ccc;
}

.nosotros {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.carousel-container {
  overflow: auto;
  /* position: relative; */
  width: 95%; /* Ajusta según sea necesario */
  margin: 0 auto; /* Centra el contenedor */
  padding: 20px;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
}
.carousel-box {
  border: 1px solid rgb(71, 143, 210);
  border-radius: 10px;
  margin: 5px;
  height: 240px;
  width: 240px;
  box-shadow: 2px 1px 5px #333;
}
.carousel-box h2 {
  font-size: 1.5rem;
}
.carousel-box img {
  border: px solid rgb(71, 143, 210);
  border-radius: 10px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

/* .carousel-controls {
  margin-top: 10px;
} */

.arrow {
  cursor: pointer;
  font-size: 12px;
  margin: 0 10px;
}
.carousel-oficios {
  margin: 10px auto 0;
  display: box;
  text-align: center;
  width: 100%;
  height: 15px;
}

/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
