.home-offer-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 85%;
  height: 16rem;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
  overflow-x: scroll;
}

.card-home-offer {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.home-offer-title {
  font-size: 1.1rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

*/

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 6px;
  scrollbar-color: var(--color-1);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--color-3);
  width: 6px;
  height: 6px;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-1);
  border-radius: 6px;
  border: 3px none var(--color-5);
  height: 6px;
  width: 6px;
}