.homeReviewCard {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
  overflow-x: scroll;
}

.card-home-review {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 20px;
  margin-top: 20px;
}

.home-price {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* .card-home-review {
  height: 16rem !important;
  width: 20rem !important;
  margin: 0 15px 10px;
  background: var(--color-2);
  height: 350px !important;
  width: calc(25% - 20px);
  margin-bottom: 20px;
}  */