/* 
    General Styles
*/
$font-primary: 'Poppins',Arial, sans-serif;
.verdeoscuro {color: #142107;}
.verdeclaro {color: #105c02;}
.naranja {color: #ff7b2d;}
.amarillo {color: #ffef6b;}
.cremita {color: #fffbd8;}

body {
  font-family: $font-primary !important;
  margin-top: 500px;
}
.carousel {
  max-height: 600px;
  overflow: hidden;

  .item img {
    width: 100%;
    height: auto;
  }
}
.carousel-control-prev-icon, .carousel-control-next-icon{
   background-color: black;
}
.img-thumbnail {width:115px;height:115px}

h1 {
    font-family: 'Poppins', Arial, sans-serif;
}

.fixed-content-mg{
    margin-top: 12rem !important;
}

.btn-custom{    
background-color: #202040 !important;
color:white !important;
}

.modal-backdrop {
    z-index: 100000 !important;
  }

  .modal {
    z-index: 100001 !important;
  }