/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.navbar{
    background-color: rgb(245, 244, 244);
}
.nombre{
color: #2B3E84;
font-size: 35px;
margin-left: 20px;
margin-top: 50px;
}
a{
    text-decoration: none !important;
}
.logo{
    width: 75px;
    height: 75px;
}
.buttonNavbar{
    border-radius: 15px;
    background-color: #2B3E84 ;
    color: whitesmoke;
    margin-right: 10px;
}