.navbar {
    background-color:  #a9ce68;
    height: 180px;
    /* background-color: rgb(140, 172, 140); */
        text-shadow: 2px 2px 5px rgba(0,0,0,0.5); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque y color de la sombra */
}

.logo {
    width: 80px;
    margin-left: 20px;
}

.contactForm {
    width: 400px;
    height: 400px;
    margin:auto;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

.AgregarVehiculo {
    width: 950px;
    height: 500px;
    margin:auto;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* justify-content: center; */
}

.subtitulos {  /*del agregarForm*/
    color: rgb(33, 103, 33);
    font-size: 1.3rem;
}


.btn-outline-light {
    color: #198754;
    border-color: #198754;
}

#btnAgregarForm {
    margin-bottom: 50px;
    /* background-color: white; */
    /* border-width: 2px; */
    /* font-size: 2rem!important; */
    /* color: #198754; */
    /* border-color: #198754; */ 
}

.border-bottom {
    margin-bottom: 15px;
    color: rgb(7, 65, 7);
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
} 

footer {
    background: #a9ce68 !important;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

/* .botonAlquilar {
    background-color: #a9ce68;
} */

.corazon:hover i {
    color:black !important;
}

.imgCarousel {
    width: 75px !important;
    /* height: 50%; */
    background-position: center center;
    position: relative;
    justify-items: center;
}

.body {
    background: lightgrey;
}

