@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");





:root {
  --primary-color: #02b532;
  --secondary-color: #000501;
  --background-color: #001004;
  --white-text: #F5F5F5;
  --gradient-background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
}

* {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.green-text {
  color: var(--primary-color);
}


::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}


* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}