/* InformationCard.css */

.card {
    max-width: 100%;
    height: 600px; /* Adjust the height to your preference */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    margin: 30px; /* Center the card horizontally */
  }
  
  .card-img {
    height: 100%;
    object-fit: cover;
  }
  
  .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: rgb(90, 199, 166);
    margin-top: 10px;
    width: 100%; /* Make the button width 100% */
    text-align: center;
  }
  
  .button-32 {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-32:not(:disabled):hover,
  .button-32:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }
  
  .button-32:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }
  