@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}
.colorFondo {
  width: 100%;
  height: 65%;
  background-color: rgb(146, 197, 211);
}

.contenedor {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.img-intercambio {
  height: 670px;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/07/16/41/reading-2605540_1280.jpg");
  background-position: right 45% bottom 75%;
  margin-left: 12rem;
  margin-right: 5rem;
}

.button {
  display: inline-block;
  margin-left: 17rem;
  padding: 0.75rem 2rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(179, 146, 27);
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}
.containerButton {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  color: #777;
}
span {
  display: block;
  margin-top: 2rem;
  font-size: 0.7rem;
  color: #777;
}
span a {
  font-size: 0.7rem;
  color: #999;
  text-decoration: underline;
}
