@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

/* .jumbotron {
  background-image: url("https://images.unsplash.com/photo-1468183654773-77e2f0bb6bf9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative
} */

.carousel.jumbo-slider{
  width: 100% !important;
  z-index: 1;
  position: relative;
  border-radius: 0 !important;
}

.carousel.jumbo-slider::before{
  content: '';
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2  
}


.jumbotron div h1 {
  color: #fffaff !important;
  font-size: 3rem;
  padding: 11% 5% 10% 10%;
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 3;
}

.jumbo-slider img {
  object-fit: cover;
}

.carousel-item .jumbo-slider {
  width: 100%;
  border-radius: 0 !important;
}

.carousel-inner .jumbo-slider{
  width:100%;
}

@media only screen and (max-width: 600px){
  .jumbotron div h1 {
    color: #fffaff !important;
    font-size: 1.5rem;
    padding: 11% 5% 10% 10%;
    position: absolute;
    top: 250px;
    left: 50px;
    z-index: 3;
  }
}