.premium-card{
    background-color: #6A5ACD;
}

.premium-card-button{
    background-color: #FFE4B5;
    color: #6A5ACD;
}

.price{
    font-size: 40px;
}

.base-card{
    background-color: #E6E6FA;
}