body {
  background-image: url(https://images.unsplash.com/photo-1457144759132-40d119c2f120?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#landing-text {
  color: white;
  font-family: serif;
}
