@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-login {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 80%; 
    height: 100vh; 
    margin: 0;
    padding: 0;
    padding-left: 10%;
    padding-right: 5%;
}

.login-form {
    align-items: center;
    width: 50%;
}

.login-text {
    color: #075E81;
    text-align: center;
    margin-top: 1rem;
}

.login-text h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 36pt;
}

.login-text p {
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
}

.login-form-detail input {
    width: 100%;
    height: 40px;
    border: 3px solid #FBEE84;
    border-radius: 20px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13pt;
}

.forgot-password {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: #075E81;
}

.btn-container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 3px solid #FBEE84;
    background-color: #FBEE84;
    color: #075E81;
    border-radius: 20px;
    font-size: 16pt;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.not-a-member {
    color: #075E81;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    text-decoration: none;
}

.not-a-member span {
    font-weight: 700;
    text-decoration: none;
}

.googlebutton {
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 100%;
    height: 40px;
    border-radius: 25px;
}

.login-img {
    width: 40%;
    margin: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 100px;
}

.login-img svg{
    margin-right: 100px;
    width: 150%;
}

@media (max-width: 768px) {
    .container-login {
        flex-direction: column; 
        padding: 5%;
        width: 100%;
    }

    .login-img {
        display: none; 
        width: 0; 
    }

    .login-form {
        width: 100%; 
        padding: 0; 
    }
}