.login-container{
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    align-items: center;
    justify-content: center;
    height: 285px !important;
}

.input-box{
    display: flex;
    flex-direction: column;
    width: 110%;
}

.check-box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-left: -25px;
}

#checkboxx{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#remember{
    margin-right: 5px;
}

.login-button{
background-color: rgb(31, 31, 155);
color: white;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 5px;
}


.lost-password{
    text-decoration: none;
    color: gray;
}

.lost-password-container{
    margin-left: 5px;
}