

/* Estilos de la card */
.mercadopago-card {
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
}

/* Título */
.mercadopago-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #009EE3;
  margin-bottom: 20px;
}

/* Estilos de texto */
.mercadopago-text {
  font-size: 1.1rem;
  color: #4a4a4a;
  margin-bottom: 20px;
}

/* Estilos para los inputs */
.mercadopago-card input[type="text"],
.mercadopago-card input[type=date],
.mercadopago-card select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

/* On hover para inputs */
.mercadopago-card input[type="text"]:focus,
.mercadopago-card select:focus {
  border-color: #009EE3;
  outline: none;
}

/* Submit botón */
.mercadopago-submit-button {
  background-color: #009EE3;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mercadopago-submit-button:hover {
  background-color: #007bb6;
}

/* Mercado Pago logo */
.mercadopago-logo {
  display: block;
  margin: 20px auto;
  width: 250px;
}

/* Iconos de seguruidad */
.security-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.security-icons img {
  margin: 0 10px;
  width: 80px;
  height: auto;
}

/* Responsividad */
@media (max-width: 576px) {
  .mercadopago-card {
      padding: 15px;
  }

  .mercadopago-title {
      font-size: 1.3rem;
  }

  .mercadopago-text {
      font-size: 1rem;
  }

  .mercadopago-submit-button {
      font-size: 1rem;
      padding: 10px;
  }
}
