.caja_mensajes::-webkit-scrollbar {
  width: 7px;
  background: rgb(237, 237, 237);
  border-radius: 7px;
}
.caja_mensajes::-webkit-scrollbar-thumb {
  width: 7px;
  height: 100px;
  background: rgb(196, 196, 196);
  border-radius: 7px;
}
