/* Galery.css */
.custom-modal .modal-dialog {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.custom-modal .modal-content {
  border: none;
  border-radius: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.custom-modal .modal-body {
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.custom-modal .modal-footer {
  border: none;
  padding: 0;
}

.custom-modal .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.custom-modal .modal-body img {
  max-width: 120%;
  max-height: 120vh; /* Maximizar el tamaño de la imagen dentro del modal */
  object-fit: contain;
}

.custom-modal .modal-header {
  border-bottom: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  padding: 0;
}

.custom-modal .close {
  color: white;
  opacity: 1;
  text-shadow: none;
  font-size: 1.5rem;
  background-color: #000;
  border-radius: 50%;
  padding: 5px;
}

.custom-modal .btn-close:hover {
  color: #f8f9fa; 
  top: 10px;
}

