.container {
  font-family: 'Roboto', sans-serif; 
  }

.star-icon {
    color: rgb(236, 206, 51);
    background-color: transparent;
}

.ranking {
    color: white; 
    font-size: 18px; 
}

.gender {
    cursor: default !important;
    background-color: rgb(0, 0, 0); 
    text-align: center; 
    color: rgb(255, 255, 255);
    border-radius: 20px; 
    border: 1px solid white; 
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    padding: 10px 20px;    
    cursor: pointer;  
    margin-bottom: 10px;
    margin-right: 10px;
  }

  

  .video-container {
    border-radius: 20px; 
    overflow: hidden; 
}

.container-crew {
  width: 100%; 
  margin-top: 50px;

}

.act_direct {
  margin-bottom: 20px;
}

.card-name {
  font-size: 18px;
  margin-bottom: -5px;
}

.card-character {
  font-size: 14px; 
  color:rgb(217, 217, 217);
  margin-bottom: -5px;
}

.card-department {
  font-size: 12px; 
  color:rgb(217, 217, 217);
  font-style: italic;
}


.title-container {
  margin-bottom: -20px; 
}


.card-title {
  margin-bottom: -5px; 
}

.trailer-size {
  width: 560px;
  height: 315px;
  border: 1px solid white;
  border-radius: 5px; 
  object-fit: cover;
}


.top-aligned {
  align-items: flex-start;
}


.description {
  text-align: justify;    
  font-size: 14px;
}