/* .footer {
    flex-shrink: 0;
    bottom: 0;
    background-color: 
    #29627D;
 
  }

  .navbar {
    background-color: 
    #29627D;
    justify-content: flex-start;
  }



.navbar-logo {
    width: 100px;
    height: 100px;
    padding-right: 1%;
}

.jumbotron{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: auto;
    padding: 20% 47%;
    height: 10px;
    width: 200px;
    border: 2px black solid;
}

.history {
    font-size: 8px;
    border: 2px black solid;
    margin: 5px;
    width: 100%;   
}

.history-title {
    text-decoration: underline;
    margin: 25px;
} */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #000;
    z-index: 1000; /* Ensure it's above other content */
}

.popup-inner {
    max-width: 600px;
    overflow-y: auto;
}

.popup-inner button {
    display: block;
    margin: 0 auto;
}
