// NAVBAR STYLES
// NAVBAR STYLES
// NAVBAR STYLES
.header-wrap {
    z-index: 99999;
    position: relative;
}

.header-top {
    padding: 40px 0;
    position: absolute;
    width: 100%;
}

@media (max-width: 767px) {
    .header-top {
        padding: 12px 0;
    }
}

.menu-bar {
    cursor: pointer;
}

.menu-bar span {
    color: #fff;
    font-size: 24px;
}

.main-menubar {
    position: relative;
}

nav {
    background: -webkit-linear-gradient(right, rgba(0,0,0,.5) 0%, transparent 100%);
    border-radius: 5px;
    margin-right: 70px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transform-origin: 100% 50%;
}

@media (max-width: 767px) {
  nav {
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 55px;
    text-align: right;
  }
}

nav.hide {
    transform: scale(0);
}

nav a {
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 10px;
}

nav a:hover {
    color: #beff4b;
    text-decoration:none;
    transition: .2s;
}

.logo{
    position: relative;
}

.logo a img{
    position: relative;
    width: 80px;
}

.logomove{
    animation: 3s girar1 infinite;
    backface-visibility: visible;
}

@keyframes girar1{
    0%{
        opacity: .5;
        transform: perspective(100px) rotateY(90deg);
    }
    40%{
        transform: perspective(200px) rotateY(-20deg);
    }
    80%{
        transform: perspective(70px) rotateY(5deg);
    }
    100%{
        transform: perspective(70px) rotateY(2deg);
    }
}
