#estilo-navbar {
	background:#7b00f2;
	animation: colores 4s ease infinite;
	padding:0;
}

@keyframes colores {
	0%  {background-color:#7b00f2; }
	20%   {background-color:#0077c8;}
	40%	 {background-color:#00c885;}
	60%  {background-color:#f2a900;}
	80% {background-color:#00c885;}
	100% {background-color:#7b00f2; }
	/*from {background-color: #0077c8}
	to {background-color: #f2a900;}*/
  }

#logo:hover {
	animation-name: rotate;
	animation-duration: 0.7s;
}

@keyframes rotate {
	0% {
	  transform: rotate(0);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

.boton {
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #2B3E84 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
    border: none;
	color:#ffffff;
	font-family:Arial;
	font-size: 15px;
	padding: 7px;
	text-decoration: none;
	text-shadow:0px 1px 0px #3d768a;
    margin-top:5px;
}

#titulo {
    font-family: 'Black Han Sans', sans-serif;
    text-decoration: none;
}

.boton:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
    scale: 1.2;
}