.navbar-nav {
  margin-right: 3rem;
}

.navbar-brand, .navbar-nav {
  margin-left: 7rem;
  margin-right: 7rem;
}

/* .navbar { 
    position: fixed;
    width: 100%;
    top: 0;
} */

.navbar {
  background-color: var(--color-3);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

li .signup, .login {
  background-color: var(--color-2);
  color: var(--color-4);
}
