
.order-body{   
    border: solid 3px lightgray;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 250px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.order-container{ 
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}
.product-name{ 
    display: flex;
    width: 195px;
    justify-content: flex-start;
    margin-left: 15px;
}
.provider-name{ 
    display: flex;
    color: gray;
    width: 195px;
    margin-left: 15px;
}
.product-size{ 
    display: flex;
    width: 195px;
    margin-left: 15px;
}
hr.line{
    border: 1px solid lightgray;
    width: 200px;
}
.buttons-group{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: fit-content;
    height: 175px;
}
.products-in-place{ 
    display: flex;
    justify-self: center;
    font-size: 30px;
}
.check-button{  
    display:flex;
    width: 200px;
    height: 50px;
    justify-content: space-around;
    justify-self: center;
}
.font-awesome-symbols{ 
    display: flex;
    font-size: 200% !important;
    margin-top: 0px;
}.order-input{
    display: flex;
    width: 200px;
    height: 50px;
}
.bottom-buttons{
    display:flex;
    flex-direction: row;
    height: 50px;
    width: 200px;
}
.backspace-button{ 
    display: flex;
    flex-direction: row;
    width: 65px;
    height: 50px;
}
.order-button{
    display:flex;
    flex-direction: row;
    height: 50px;
    width: 130px !important;
    justify-content: space-around;
    margin-left: 5px;
}
