.btnInvisible {
    background: none; /* Sin fondo */
    border: none;     /* Sin borde */
    color: inherit;   /* Hereda el color del texto */
    font: inherit;    /* Hereda el estilo de la fuente */
    cursor: pointer;  /* Muestra el cursor de puntero al pasar sobre el enlace */
    text-decoration: none; /* Sin subrayado */
    display: inline-flex; /* Alinea el SVG y el texto en línea */
    align-items: center; /* Alinea el contenido verticalmente */
    padding: 0;       /* Sin relleno adicional */
}

.btnInvisible svg {
    vertical-align: middle; /* Alinea el SVG verticalmente con el texto */
    margin-right: 5px; /* Espacio entre el SVG y el texto */
}

.confIzq {
    border-radius: 5%;
    background-color: 
    #b5bad0;
    height: 290px;
    width: 280px;
    margin-left: 200px;
    margin-top: 50px;
    text-indent:24px;
    padding-top: 20px;
    
}

.confiDere {
    border-radius: 2%;
    background-color: #b5bad0;
    height: 1000px;
    width: 800px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.imagen2 img{
    height: 200px;
    width: 200px;
    margin-top: 60px;
    margin-left: -100px;
    border-radius: 50%;
    max-width: 100%;
}


.lado2{
    flex-direction: column;
    justify-content: center; /* Alinea verticalmente el contenido */
    margin-left: -300px;
    margin-top: 120px;
    justify-content: right;
}

.firstName{
    margin-top: 30px;
    text-indent:24px;
    margin-left: 40px;
    margin-right: 400px;
}
.nombrePersona{
    margin-top: ;
    margin-left: 20px;
}

.saveChanges {
    margin-top: 80px;
    text-align: center;
    align-items: center;
}

#boton {
    background-color: #416788; /* Color de fondo azul */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 50px; /* Espaciado interno, mayor horizontalmente */
    font-size: 18px; /* Tamaño de la fuente */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease, transform 0.1s ease; /* Transiciones suaves */
}

/* Cambiar color al pasar el ratón sobre el botón */
#boton:hover {
    background-color: #416788; /* Color de fondo más oscuro */
}

/* Cambiar color y agregar un efecto de presión cuando se presiona el botón */
#boton:active {
    background-color: #b5bad0; /* Color de fondo aún más oscuro */
    transform: scale(0.98); /* Efecto de reducción para simular presión */
}