.colorFondoGeneral {
    background: #6793AE;
}

.colorGeneral {
    color: #6793AE;
}

.header-preguntas {
    min-width: 50rem;
    height: 18rem;
    margin: 50px auto;
    color: white;
}

.fuente {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.banner-preguntas {
    color: white;
    margin: 3rem 0;
    height: 12rem;
}

.icons-style {
    font-size: 4rem;
    display: flex;
    justify-content: space-evenly;

}

.borde {
    border-right: 1px solid white;
}

.contenedor {
    min-height: 80rem;
}