.privacy-notice {

}

.notice-title {
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
}

.introduction, .section-content {
    line-height: 1.6;
    margin-bottom: 1rem;
}

.section-title {
    color: #0056b3;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
