.container_profile{
    margin: 3rem;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    padding-top: 4rem;
    border-radius: 15px;
}

.row_profile_configuration{
    height: 3rem;
    margin-bottom: 2rem;
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center
}

.label{
    background-color: #ffffff;
    color: #125c8e;
    border-style: solid;
    border-color: #125c8e;
    border-radius: 4px;
    align-items: center;
    display: flex
}

.user_data{
    margin-left: 3rem;
}

.edit_profile{
    background-color: #ffffff;
    border-color: #125c8e;
    border-style: solid;
    border-radius: 12px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    margin-left: 1.5rem;
}

.change_password{
    background-color: #ffffff;
    border-color: #125c8e;
    border-style: solid;
    border-radius: 12px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 8rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change_password:hover{
    color: rgb(255, 255, 255);
    background-color: #2776ab;
}

.row_edit_profile{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 4rem;
}

.edit_profile:hover {
    color: rgb(255, 255, 255);
    background-color: #2776ab;
}

.avatar_container {
    position: absolute;
    top: 17rem;
    right: 9rem;
    margin: 10px;
}

.avatar_image {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover;
    border: #125c8e;
    border-style: solid;
}

#map{
    height: 40%;
}

.row_product_profile{
    background-color: white;
    margin: 3rem;
    margin-top: 0.5rem;
    border-radius: 12px;
    height: 9rem;
    padding: 1rem;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    color:#125c8e
}

.product_profile_button{
    margin: 0.5rem;
    border-radius: 8px;
    width: 7rem;
    height: 4rem;
    justify-content: end;
    border-color: #125c8e;
    background-color: white;
}

.success-message{
    color: #87e753;
}

.product_profile_button:hover{
    background-color: #2776ab;
}

.product_profile_buttons{
    padding-top: 1rem;
    display: flex;
    justify-content: end;
}

.state_product_profile_box{
    margin-top: 1rem;
    margin-right: 1rem;
}

.state_product_profile{
    font-weight: bolder;
}

.state_product_profile_sales_process h6{
    margin-bottom: 1rem;
}

.price_product_profile{
    font-weight: bold;
}

.sold-product_profile{
    width: 40rem;
    height: 20rem;
    border-radius: 12px;
}

.modal_body{
    margin-left: 3rem;
    display: flex;
    align-content: center;
}

.modal-body-password{
    margin-left: 10rem;
    margin-top: 2rem;
    color: #125c8e;
    margin-right: 0;
}

.modal-title{
    color: #125c8e;
}

.modal-footer{
    margin-bottom: 3rem;
}

.modal-content{
    height: 24rem;
}

.change_password_input{
    margin-bottom: 2rem;
}

.product_img_profile_box{
    width: 9rem;
    height: 7rem;
    padding: 0;
    margin-right: 3rem;
}

.product_img_profile{
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 20px;
}

.price_name{
    padding-top: 1rem;
}

.row_favorites_profile{
    background-color: white;
    margin: 3rem;
    margin-top: 0.5rem;
    border-radius: 12px;
    height: 25rem;
    padding: 1rem;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    color:#125c8e;
    overflow-x: scroll;
    flex-wrap: nowrap; 
    overflow-x: auto
}

.button_favorite{
    border: none;
    background: none;
}

.product_img_profile_favorites_box{
    width: 10rem;
    height: 17rem;
    padding: 0;
    margin-right: 3rem;
}

.product_img_profile_favorites{
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 20px;
}

.product_profile_favorites {
    width: 11.5rem;
    background-color: whitesmoke;
    border-radius: 12px;
    padding-top: 0.5rem;
    text-align: justify;
    margin-left: 1rem;
}

.limit-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10rem; 
}

.product_description_profile_favorites{
    margin-top: 1rem;
    width: 8rem;
    margin-left: 0.5rem;
}

.product_type_profile{
    margin-left: 5rem;
    margin-top: 3rem;
}

.review_box_profile{
    background-color: white;
    border-radius: 12px;
    margin: 3rem;
}

.product_img_profile_reviews_box{
    margin: 2rem;
}

.review_content_profile{
    margin-top: 2rem;
}

.name_product_profile{
    color: #125c8e;
}

.name_product_review{
    color: #125c8e;
    font-size: larger;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.stars_review{
    margin-bottom: 2rem;
    font-size: larger;
    color:#e6cd30
}

.comment_review{
    width: 90%;
    height: 4rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.user_reviewing{
    color: #125c8e;
}

.sales_profile_box{
    background-color: white;
    margin: 3rem;
    margin-top: 0;
    height: 17rem;
    border-radius: 12px;
}

.date_sale_profile{
    color: #125c8e;
    font-size: larger;
    font-weight: bold !important;
    margin-left: 5rem;
    margin-top: 4rem;
}

.product_img_profile_box_sales{
    width: 19rem;
    height: 12rem;
    margin-top: 2.5rem;
    margin-left: 3rem;
}

.product_img_profile_box-sales-process{
    margin-right: 0;
}

.product_data_sales{
    margin-top: 3.7rem;
    color: #125c8e;
    font-weight: bold;
}

.product_data_sales h6{
    margin-bottom: 1.5rem;
}

.modal-body-sale-process{
    margin-top: 2rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.price_sales_profile{
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    margin-right: 6rem;
}

.review_sales_profile{
    display: flex;
    justify-content: end;
    margin-right: 0;
}

@media only screen and (max-width: 600px) {
    .container_profile{
        margin: 1rem;
        padding-top: 3.5rem;
    }

    .avatar_container {
        position: absolute;
        top: 23rem;
        right: 1rem;
        margin: 10px;
    }
    
    .avatar_image {
        width: 80px; 
        height: 80px; 
        border-radius: 50%; 
        object-fit: cover;
        border: #125c8e;
        border-style: solid;
    }

    .profile_info{
        margin-top: 1.5rem;
    }

    .label{
        width: 14rem;
        height: 1.6rem;
        font-size: medium;
        border-radius: 8px;
        background-color:#ffffff;
        border-color: #125c8e;
        border-style: solid;
        color:#125c8e
    }

    .user_data{
        font-size: medium;
        margin-left: 0;
        margin-top: 0.5rem;
    }

    .edit_profile{
        margin-top: 2rem;
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        border-color: #125c8e;
        border-style: solid;
    }

    .row_edit_profile {
        margin-left: 3rem;
    }

    .row_product_profile{
        margin: 1rem;
        height: 7rem;
        display: flex;
        align-content: center;
        padding: 1rem;
        padding-right: 0
    }

    .product_img_profile_box{
        width: 5rem;
        height: 5rem;
        margin-right: 0.5rem;
    }

    .price_name {
        width: 6rem;
    }

    .price_product_profile{
        font-size: smaller
    }

    .name_product_profile{
        font-size: smaller;
    }

    .published_title_profile{
        font-size: smaller;
    }

    .published_date_profile{
        font-size: smaller;
    }

    .product_profile_button{
        width: 2rem;
        height: 2rem;
        font-size: smaller;
        border-radius: 5px;
        display: block;
    }

    .product_profile_buttons{
        display: inline-block;
        padding-right: 0;
        width: 2rem;
    }

    .published{
        margin-left: 0;
        padding-left: 0.5rem;
    }

    .row_favorites_profile{
        background-color: white;
        margin: 1rem;
        margin-top: 0.5rem;
        border-radius: 12px;
        height: 25rem;
        padding: 1rem;
        padding-left: 1rem;
        display: flex;
        align-items: center;
        color:#125c8e
    }

    .product_type_profile{
        margin-top: 1rem;
        margin-left: 3rem;
    }
}