.pub-slide {
  width: 85%;
  margin: auto;
  height: 600px;
}

.pub-slide img {
  height: 600px;
}

.title-slide {
  font-size: 2.6rem;
}

.trip-desc {
  color: #000;
  font-weight: 600;
  font-size: 1.6rem;
}

.normal-price,
.prenium-price {
  font-size: 1.5rem;
  font-weight: 600;
}