// Estilos para el Login
// Estilos para el Login
// Estilos para el Login
//PRESENTATION
//PRESENTATION
//PRESENTATION
.Carousel{
    background-image: linear-gradient(20deg, #000 20%, rgba(189, 255, 75, 0.752) 100%);
    box-shadow: 0 0 15px #000;
}

.Carousel img{
    height: 100vh;
}

.Contenedor{
    z-index: 100;
}

// ABOUTUS
// ABOUTUS
// ABOUTUS
.Card{
    background-color: transparent;
    box-shadow: 0 0 15px #000;
}

.logimg{
    display:flex;
    margin:0 auto;
    width: 100px;
}

// CONTENT
// CONTENT
// CONTENT

