.caja_selectores {
  overflow-y: scroll;
  height: 78vh;
}
.caja_selectores::-webkit-scrollbar {
  width: 7px;
  background: rgb(237, 237, 237);
  border-radius: 7px;
}
.caja_selectores::-webkit-scrollbar-thumb {
  width: 7px;
  height: 100px;
  background: rgb(196, 196, 196);
  border-radius: 7px;
}
