// Estilos para el Login
// Estilos para el Login
// Estilos para el Login
//PRESENTATION
//PRESENTATION
//PRESENTATION
.Carousel{
    background-image: linear-gradient(20deg, #000 20%, rgba(189, 255, 75, 0.752) 100%);
    box-shadow: 0 0 15px #000;
}

.Carousel img{
    height: 100vh;
}

.Contenedor{
    z-index: 100;
}

// ABOUTUS
// ABOUTUS
// ABOUTUS
.Card{
    background-color: transparent;
}

.logimg{
    display:flex;
    margin:0 auto;
    width: 100px;
}

// CONTENT
// CONTENT
// CONTENT
#padre{
    position:relative;
}

#uno {
    border: 1px solid #fff;
    background-color: #000;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
}

@media (max-width: 768px) {
    #padre .contentimg{
        margin-top: 150px;
    }

    #uno {
        top: 0;
    }
}
// LOGIN
// LOGIN
// LOGIN



