.stylebutton {
    background-color: #6693ae;
    color: white;
}

.stylebutton:hover {
    background-color: #5e88a3;
    color: white;
}

.sombreado {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}