.register {
  backdrop-filter: blur(10px);
  justify-content: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 40%;
  height: 75%;
  border-radius: 3rem;
  box-shadow: -3px 5px 12px 3px rgba(0,0,0,0.11);
}
.register-title{
  margin: 1rem;
}
.register-title h1 span{
  color: #2c9131;
}
.regbody {
  display: flex;
  justify-content: center; 
  align-items: center;
}
.regbody label{
  font-size:20px;
  line-height:30px;
}
.formularioTech{
  justify-content: center;
  align-items: center;
  
}
.background-image {
  position: fixed;
  
  width: 100%;
  height:100%;
  background-image: url("https://res.cloudinary.com/ddyd5ebc7/image/upload/v1682015035/_dde26f94-d3f6-44ef-a892-4c90bd2c8dd6_rorddp.png");
  filter: blur(3px);
  opacity: 0.5; 
  z-index: -1; 
}
.register .btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.btn-register {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Roboto, sans-serif;
  font-weight: 3;
  font-size: 1.5rem;
  border: 2px solid #2c9131;
  
  padding: 10px 30px;
  background-color: transparent;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  
  cursor: pointer;
  text-align: center;
  
}
.btn-register:hover {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Roboto, sans-serif;
  background-color: white;
  font-size: 1.5rem;
  border: 2px solid #2c9131;
  
  padding: 10px 30px;
  
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  
  cursor: pointer;
  text-align: center;
  
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .formulario {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .formulario {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .formulario {
    width: 70%;
  }
  .register{
    width:90%;
  }
  .register-title{
    text-align: center;
  }
}
/*Tablet styles (max-width: 768px)
Mobile styles (max-width: 414px)*/
