@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-register {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    height: 100vh; 
    margin: 0;
    padding: 3%;
}

.register-form { 
    align-items: center;
    width: 50%;
    margin-right: 5%;
}

.register-text {
    color: #075E81;
    text-align: center;
    margin-top: 1rem;
}

.register-text h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 36pt;
    color: #B4E49D;
}

.register-text p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
}

.register-form-detail input {
    width: 100%;
    height: 40px;
    border: 3px solid #075E81; 
    border-radius: 20px;
    padding: 10px;
    color: #075E81;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13pt;
}

.btn-register{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 3px solid  #B4E49D;
    background-color: #B4E49D;
    color: #075E81;
    border-radius: 20px;
    font-size: 16pt;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.not-a-member {
    color: #075E81;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    text-decoration: none;
}

.not-a-member span {
    font-weight: 600;
    text-decoration: none;
}

.register-img {
    width: 40%;
    margin: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register-img svg{
    margin-right: 100px;
    width: 100%;
}

@media (max-width: 768px) {
    .container-register {
        flex-direction: column;
        padding: 2%; 
    }

    .register-img {
        display: none; 
        width: 0; 
    }

    .register-form { 
        width: 100%; 
        margin: auto; 
    }

    .register-text h1 {
        font-size: 28pt; 
    }

    .register-text p {
        font-size: 10pt; 
    }
}
