.register-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.password{
    width: 350px;
}

#email{
    width: 350px;
}

.AccountPage-container{
   
    width: 100%;
    display: flex;
    justify-content: center;
}

.register-button{
    background-color: rgb(31, 31, 155);
color: white;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 5px;

}