#center{
    align-items: center;
}
    
#registerWrapper{
    margin-top: 120px;
}


#registerTitle{
    text-align: center;
    align-items: center;

}
.center{
    width: 150px;
      margin: 40px auto;
      
      
    }
#teamRegister{
  
   text-align: center;
}

#registerTable{
    border:solid black 1px;
    height: 320px;
    background-color: whitesmoke;
}


#registerTableTitle{
    padding-top: 60px;
}
#image{
    width: 95%;
    height: 45%;
}
.button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 5px 0;
    display: flex;
    align-items: center;
}
.task {
    flex-grow: 1;
}
.delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}