/* En tu archivo de estilos CSS */
.btn-custom {
  background-color: #307fe2;
  color: #fff; /* Cambiar el color del texto si es necesario para que sea legible en el nuevo fondo */
}

.btn-custom:hover {
  background-color: #074db6; /* Cambiar el color cuando se pase el ratón por encima si lo deseas */
  color: #fff;
}
