.reset-password-request-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tittel {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.reset-password-request-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.reset-password-request-container button {
    width: 100%;
    padding: 10px;
    background-color: #6793AE;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.reset-password-request-container button:hover {
    background-color: #0056b3;
}
