.reset-password-container {
    background-color: #333C53; /* Fondo oscuro como en RoomDetail y Forgot Password */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    color: #fff; /* Texto blanco para contraste */
    font-family: 'Inter', sans-serif; /* Fuente consistente */
    padding: 20px;
    max-width: 400px; /* Ancho máximo */
    margin: 20px auto; /* Centrado y con margen */
}

.reset-password-container h1 {
    margin-bottom: 20px; /* Espacio después del título */
}

.reset-password-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reset-password-container input {
    background-color: #444C63; /* Fondo de los input */
    border: none; /* Sin bordes */
    border-radius: 4px; /* Bordes redondeados */
    color: #fff; /* Texto en blanco */
    padding: 10px; /* Padding para los input */
    font-size: 16px; /* Tamaño de fuente */
}

.reset-password-container button {
    background-color: #0096D2; /* Color principal para botones */
    color: white; /* Texto en blanco */
    border: none; /* Sin bordes */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 20px; /* Padding */
    cursor: pointer; /* Cursor de mano */
    font-size: 16px; /* Tamaño de la fuente */
    margin-top: 10px; /* Margen superior para separar del input */
    transition: background-color 0.3s; /* Transición suave del color */
}

.reset-password-container button:hover {
    background-color: #0056b3; /* Color al pasar el ratón */
}
