:root {
    --BLUE-BTN: #0094FF;
}

.toggle-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.toggle-button {
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    background-color: #333C53;
    color: white;
}

.toggle-button.active {
    background-color: var(--BLUE-BTN);
    color: white;
    border: none;
}

.create-room-button {
    background-color: var(--BLUE-BTN);
    color: white;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    line-height: 24px;
    border-radius: 5px;
}

.rooms-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
