* {
    padding:0px;
}

.kick-button {
    background-color:#B40000 ;
    color: white;
    border: none;
    height: 36px;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 2rem;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.participant-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    list-style: none;
    padding-left: 0px;
    position: relative;
    
}


.participants-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.participant-item:not(:first-child) img {
    margin-left: -8px; 
}

.participant-item:first-child img {
    margin-left: 0px;
}