.room-card {
    max-width: 1114px;
    cursor: pointer;
    background-color: #333C53; /* Color de fondo personalizado */
    border-radius: 8px; /* Bordes redondeados */
    margin: 20px 0; /* Margen vertical */
    padding: 20px; /* Padding interno */
    transition: transform 0.3s; /* Transición suave */
    display: flex;
    flex-wrap: wrap;
}

.room-card:hover {
    transform: scale(1.02); /* Efecto de agrandar al pasar el ratón */
}

.font-family-Inter {
    font-family: 'Inter', sans-serif;
}



/* Media queries para asegurar que el diseño sea responsive */
@media (max-width: 768px) {
    .room-card {
        flex-direction: column;
    }

    .room-image {
        width: 100%;
        height: auto;
    }

    .room-content {
        padding-left: 0;
        padding-top: 20px;
    }
}