.d-flex {
    background-color: transparent !important;
    padding: 0%;
}

.search-btn {
    margin-right: 1rem;
  }

.btn-primary{
    margin-right: 1rem;
}

.btn-secondary{
    margin-right: 1rem;
}