.d-flex {
    background-color: transparent !important;
    padding: 0%;
    width: auto;
    max-width: none;
    min-width: none;
}

.search-btn {
    margin-right: 1rem;
  }

.btn-primary, .btn-secondary{
    margin-right: 1rem;
}


