input{
    border-radius: 3px;
    width: 50%;
    height: 3rem;
    border: 1px solid #a3c6f4;
    background: transparent;
    padding: 15px;
}




.box{
   
    -webkit-border-radius: 63px;
    border-radius: 10px;
    background: #D1D8EC;
    box-shadow: -11px 11px 15px #969caa, 11px 11px 15px #969caa;
    width: 43rem;
    height: 35rem;

}

.input-box{
    width: 38rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1.5rem;
    justify-content: center!important;
}

.labelbox{
    margin-left: 1rem;
    margin-top: 1.6rem;
    width: 10rem;
}

.button{
    display: flex;
    justify-content: center;
}

.btn1{
    margin-top: 1rem;
    width: 20rem;
    padding: 10px 20px;
}

#idDocument{
    width: 19rem;
    height: 2.8rem;
}

#role{
    width: 19rem;
    height: 2.8rem;
}



#light .box{
    background-color: #ffffff;
}

#light input{
    border: 2px solid #000000;
}

#dark input{
    background-color: #393E46;
    color: white;
}

#dark input::placeholder{
    color: rgb(161, 161, 161);
}




#dark .box{
    background-color: #c6dfff;
}
