@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.signImage img{
    width: 100vw;
    height: 100vh;
    filter: blur(1px);
    object-fit: fill;
}
.contenido{
    width: 19rem;
    height: 27rem;
    position:absolute;
    border-radius: 5px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50% );
    color:white;
    background-color:rgba(128, 128, 128, 0.356);
    
}
.content-image{
    width: auto;
    z-index: -2;

}
.imagen-form{
    width: 300px;
    height: 170px;
    position:absolute;
    border-radius: 5px;
    object-fit:fill;
    z-index: -1;
    top:17%;
    left:11%;
    transform: translate(-10%, -40% ); 
}
.headercontent{
    margin-top: 110px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.headercontent h3{
    font-size: 40px;
}

#field .inputs{
    width: 200px !important;
}
.btn{
    color:white;
    border-color: white;
}
