.single-offer-box{
    width: 50rem;
    box-shadow: -1px 2px 20px 4px #d4c4c4;
}
.card-single-offer{
    box-shadow: -1px 2px 20px 4px #d4c4c4;
}
.card-offer-description{
    position: relative;
    top: 10px;
}

.btn-inscribirse-up{
    position: relative;
    bottom: 40px;
}
.btn-company{
    background-color: rgb(175, 206, 225);

}
.card-offer-logo img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}
.offer-header{
    position: relative;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
}
.localidad-publicacion span{
   font-size: 1rem;
   position: relative;
   bottom: 5px;
    
}

.fecha_publicacion {
    position: absolute;
    top: 60px;
    font-size: 0.85rem;

}
.companyName-localidad{
    position: relative;
    right: 14px;
    bottom: 5px;
    font-size: 1rem;
    color: blue
}

.companyName-localidad:hover{
    text-decoration: underline;
    cursor: pointer;
}

.requisit-list{
    list-style: none;
    font-size: 0.85rem;

}

.requisits-box h5{
    font-size: 1.2rem;
}
.requisits-box p{
    position: relative;
    bottom: 5px;
}
.data-2{
    position: relative;
    left: 100px;
    
}

.formacion{
    font-size: 1rem;
    
}
.experiencia-min  .idiomas  .tipo-contrato{
    position: relative;
    bottom: 40px;
}

.btn-single-up{
    background-color: rgb(103, 147, 174); ;
}