.single-offer-box{
    width: 50rem;
    box-shadow: -1px 2px 20px 4px #d4c4c4;
}
.card-single-offer{
    box-shadow: -1px 2px 20px 4px #d4c4c4;
}
.card-offer-description{
    position: relative;
    top: 10px;
}



.salary-box{
    font-size: 0.7rem;
    text-decoration: underline;
}

.btn-single-offer-up{
    position: relative;
    bottom: 35px;
    background-color: rgb(103, 147, 174);
}
.btn-single-offer-down{
    position: relative;
    background-color: rgb(103, 147, 174);
}

.btn-single-offer .btn:hover{
    background-color: rgb(175, 206, 225);
    
}
.btn-company{
    background-color: rgb(175, 206, 225);

}
.card-offer-logo img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}
.offer-header{
    position: relative;
    right: 40px;
    bottom: 20px;
    cursor: pointer;
}

