.testimonial-carousel {
    position: relative;
}

.testimonial-carousel-inner {
    padding-bottom: 2rem;
}

.testimonial-card {
    margin: 0 auto;
    width: 90%;
    max-width: 500px; 
}

.testimonial-profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
}

.testimonial-carousel .carousel-control-prev,
.testimonial-carousel .carousel-control-next,
.testimonial-carousel .carousel-control-prev:focus,
.testimonial-carousel .carousel-control-next:focus,
.testimonial-carousel .carousel-control-prev:active,
.testimonial-carousel .carousel-control-next:active,
.testimonial-carousel .carousel-control-prev:hover,
.testimonial-carousel .carousel-control-next:hover {
    background: none !important;
    border: none !important;
    outline: none !important;
    opacity: 1 !important;
    box-shadow: none !important;
}

.testimonial-carousel .carousel-control-prev-icon,
.testimonial-carousel .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.testimonial-carousel .carousel-control-prev:hover .carousel-control-prev-icon,
.testimonial-carousel .carousel-control-next:hover .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.7);
}

.testimonial-carousel .carousel-control-prev,
.testimonial-carousel .carousel-control-next {
    width: 5%;
}