body {
    min-height: 100vh;
}

.container-list {
    position: relative;
    right: 240px;
    bottom: 20px;
    max-width: 1200px; 
    margin: auto; 
    padding: 0 15px; 
}

.header-search-container {
    position: relative;
    right: 45px;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-box {
    text-align: center; 
    margin-bottom: 1rem;
}

.header-box h2 {
    font-size: 3rem;
    margin: 0; 
}

.header-box h3 {
    color: rgb(103, 147, 174);
    font-size: 1.8rem;
    margin: 0; 
}

.search-bar-timeline {
    max-width: 820px;
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
}

.btn-search {
    background-color: rgb(103, 147, 174);
    color: black;
    padding: 5px 11px;
    height: 100%;
    width: 100px;
}

.btn-search:hover {
    background-color: rgb(135, 193, 229);
    color: aliceblue;
}

.list-offers-container {
    text-align: center; 
    margin: 0 auto; 
    padding: 0 15px; 
}
