body {
    min-height: 1200px;
}

.container-list {
    max-width: 1200px; 
    margin: auto; 
    padding: 0 15px; 
}

.header-box {
    text-align: center; 
    margin-bottom: 2rem; 
}

.header-box h2 {
    font-size: 3rem;
    margin: 0; 
}

.header-box h3 {
    color: rgb(103, 147, 174);
    font-size: 1.8rem;
    margin: 0; 
}

.search-bar {
    max-width: 820px;
    margin: 0 auto 2rem auto;
    display: flex;
}

.btn-search {
    background-color: rgb(103, 147, 174);
    color: black;
    padding: 5px 11px;
    height: 100%;
    width: 100px;
}

.btn-search:hover {
    background-color: rgb(135, 193, 229);
    color: aliceblue;
}

.list-offers-container {
    text-align: center; 
    margin: 0 auto; 
    padding: 0 15px; 
}
