.wich-vehicle-bg{
  background-image: url('https://i.imgur.com/d4Ucj6N.jpg');
  background-size: cover;
  width: 100%;
  height: 67.7rem;
  margin-top: -1rem;
  
}

.wich-title{
  
}

.wich-vehicle-align{
  display: flex;
  justify-content: center;
}

.wich-vehicle-container{
  padding-top: 5rem;

}

.choose-vehicle{
  padding-top: 5rem;
}

.btn-vehicle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  background-color: #a3c6f4;
  color: white;
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
  border: 2px solid white
}



.btn-vehicle:hover{
  background-color: white;
  color: #a3c6f4;
  scale: 1.05;
  border: 2px solid #0F4C75
}

.btn-vehicle:active{
  scale: 1;
}






.upload-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem; /* Agrega un margen superior para separar del borde superior */
  
}
  
  .upload-box {
    background-color: white;
    width: 80rem;
    height: 88rem;
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
    
    
  }

  .upload-innerbox{
    

  }
  
  .upload-title {
    margin-top: 1rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    
  }
  
  .innerselect {
    margin-left: -4rem;
    justify-content: center;
    margin-bottom: 2.5rem;
  }


  
  select,
  input {
    height: 3.5rem;
    width: 20rem;
    border-radius: .5rem;
  }
  

  
  .input-left {
    background-color: white;
  }
  
  .upload-product-description{
    margin-top: 8rem;
    margin-left: 5rem;
  }

  .upload-textarea-description{
    padding: 1rem;
  }

  .select{
    padding: 15px;
  }

  .upload-product-images {
    /*background-color: red;*/
    width: 70rem;
    height: 20rem;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
  }

  .upload-product-images-center{
    display: flex;
    justify-content: space-between;
  }
  

  .btnupload-image{
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
  }

  
  .likeabutton{
    height: 5rem;
    width: 5rem;
    background-color: #0F4C75;
    color: #0F4C75;
  }

  .dropzone{
    text-align: center;
    padding: 5rem;
    border: 5px dashed #eeeeee;
    background-color: #fafafa;
    color: #bdbdbd;
    margin-bottom: 20px;

  }

  .upload-images-icon{
    font-size: 3rem;
  }




  
  .image_vehicles {
    width: 100%;
    height: 100%;
    transition: width 0.5s;
  }
  
  .bike {
    margin-top: 400px;
    background-image: url('https://d1cjrn2338s5db.cloudfront.net/gamas/images/810-442-2228-1679320194.png');
    background-size: cover;
    max-width: 400px;
    max-height: 400px;
  }
  
  .car {
    margin-top: 400px;
    background-image: url('https://images.cars.com/in/v2/stock_photos/7f212472-c429-4681-882b-29e52f4d52b5/884b28bd-d67f-4c90-a7e5-a066090db8f7.png?w=1000');
    background-size: cover;
    max-width: 400px;
    max-height: 400px;
  }

  .image-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  

.container {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 300px;
  cursor: col-resize;
}

