/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
}

/* User Page Container */
.user-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.36);
  color: #fff;
  position: relative; /* Add position relative for shadow animation */
}

/* Animation for pulsating glowing effect */
@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px rgba(0, 251, 255, 0.751);
  }
  50% {
    box-shadow: 0 0 35px rgba(0, 251, 255, 0.951);
  }
  100% {
    box-shadow: 0 0 25px rgba(0, 251, 255, 0.751);
  }
}

/* Apply the animation to the user-container */
.user-container {
  animation: pulsate 2s infinite; /* Faster animation duration */
}

.favorite-cars h3 {
  color: white;
}

/* User Title */
.user-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #007bff;
}

/* Data Label and Value */
.data-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.data-value {
  color: #007bff;
}

/* Loading Message */
.login-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff;
}
