*{
    margin:0;
    padding:0
}

.container{

    display: flex;
    margin:40px;
    overflow-x: auto;
}

.display-container{

    margin-left: 200px;
}

.name-container{

    display: flex;
    justify-content: center;
}

.button-container{

    display: flex;
    justify-content: center;
    margin-top: 10px;


}

.imagevideo{

    height: 400px;
    width: 600px;
}



