form {
  z-index: 10;
  width: 480px;
}

.submitBtn {
  border: none;
  border-radius: var(--border-md);
  background-color: var(--text-900);
  color: var(--text-100);
  font-weight: var(--font-semibold);
  margin-block: 6px;
  padding: 12px;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.submitBtn:hover {
  background-color: var(--purple-500);
  color: var(--text-900);
}

@media (max-width: 678px) {
  form {
    width: 300px;
  }
}
