.logo-svg {
  width: 5rem;
  height: 5rem;
  margin-left: 10rem;
  transform: scale(1);
  transition: transform 0.3s linear;
}

.logo-svg:hover {
  transform: scale(1.5);
  transition: transform 0.3s linear;
}
