.main-view-container {
  display: flex;
  flex-direction: column;
}

.text-container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 20px;
  height: 100vh;
}

.left-text-container {
  flex: 1;
  padding-bottom: 1.4%;
}

.right-text-container {
  flex: 1;
}

.green-text {
  color: var(--primary-color);
}
