._mainContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

._headerContainer {
  width: 100%;
  display: flex;
  padding: 16px 32px;
}

._nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

._registerLink {
  font-weight: var(--font-semibold);
  font-size: var(--text-sm);
  line-height: 1;
  text-decoration: underline;
  text-align: center;
  color: var(--gray-900);
}

._sectionContainer {
  display: flex;
  width: 100%;
}

._bgImg {
  height: 100vh;
}

._actionContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-light);
}

._heading {
  font-size: var(--main-title);
  font-weight: var(--font-extrabold);
  line-height: 1;
  letter-spacing: -3px;
}

._subHeading {
  max-width: 500px;
  text-align: center;
  font-size: var(--text-md);
  font-weight: var(--font-regular);
  line-height: 1.2;
  color: var(--gray-700);
}

._buttonsWrapper {
  margin-top: 40px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

._credits {
  position: absolute;
  bottom: 8px;
  left: 10px;
  font-size: var(--text-xs);
  font-weight: var(--font-light);
  color: var(--gray-100);
}

._line {
  position: absolute;
  height: 6px;
  width: 100vw;
  bottom: 0;
  left: 0;
}

/* .mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.header-container {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  background: var(--main-bg-color);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}

.btnWrapper {
  margin: 3rem 0;
  max-width: 18rem;
}

.registerLink {
  margin-top: 0.75rem;
  font-weight: var(--font-semibold);
  font-size: 13px;
  line-height: 1;
  text-decoration: underline;
  text-align: center;
  color: var(--text-900);
}

.calendarWrapper {
  display: flex;
  justify-content: center;
}

.calendar {
  z-index: 10;
  object-fit: contain;
}

.bgImg {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 300px;
  clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
  background: -moz-linear-gradient(
    180deg,
    rgba(210, 209, 252, 1) 0%,
    rgba(210, 209, 252, 0.008862920168067223) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(210, 209, 252, 1) 0%,
    rgba(210, 209, 252, 0.008862920168067223) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(210, 209, 252, 1) 0%,
    rgba(210, 209, 252, 0.008862920168067223) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2d1fc",endColorstr="#d2d1fc",GradientType=1);
}

@media (max-width: 678px) {
  .bgImg {
    height: 220px;
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
  }
  .calendar {
    max-width: 22rem;
    z-index: 10;
    object-fit: contain;
  }
}

.loginBtn {
  border: none;
  border-radius: var(--border-md);
  background-color: var(--gray-900);
  color: var(--gray-100);
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  margin-block: 6px;
  padding: 12px;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.loginBtn:hover {
  background-color: var(--purple-500);
  color: var(--gray-900);
}

.companyBtn {
  border: none;
  border-radius: var(--border-md);
  background-color: var(--gray-900);
  color: var(--gray-100);
  font-weight: var(--font-semibold);
  font-size: var(--text-md);
  margin-block: 6px;
  padding: 12px;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.companyBtn:hover {
  background-color: var(--purple-500);
  color: var(--gray-900);
} */
