.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.header-container {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  background: var(--main-bg-color);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}

.btnWrapper {
  margin: 3rem 0;
  max-width: 18rem;
}

.registerLink {
  margin-top: 0.75rem;
  font-weight: var(--font-semibold);
  font-size: 13px;
  line-height: 1;
  text-decoration: underline;
  text-align: center;
  color: var(--text-900);
}

.calendarWrapper {
  display: flex;
  justify-content: center;
}

.calendar {
  z-index: 10;
  object-fit: contain;
}

.bgImg {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 300px;
  clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
  background: -moz-linear-gradient(
    180deg,
    rgba(210, 209, 252, 1) 0%,
    rgba(210, 209, 252, 0.008862920168067223) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(210, 209, 252, 1) 0%,
    rgba(210, 209, 252, 0.008862920168067223) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(210, 209, 252, 1) 0%,
    rgba(210, 209, 252, 0.008862920168067223) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2d1fc",endColorstr="#d2d1fc",GradientType=1);
}

@media (max-width: 678px) {
  .bgImg {
    height: 220px;
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
  }
  .calendar {
    max-width: 22rem;
    z-index: 10;
    object-fit: contain;
  }
}

.loginBtn {
  border: none;
  border-radius: var(--border-md);
  background-color: var(--gray-900);
  color: var(--gray-100);
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  margin-block: 6px;
  padding: 12px;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.loginBtn:hover {
  background-color: var(--purple-500);
  color: var(--gray-900);
}

.companyBtn {
  border: none;
  border-radius: var(--border-md);
  background-color: var(--gray-900);
  color: var(--gray-100);
  font-weight: var(--font-semibold);
  font-size: var(--text-md);
  margin-block: 6px;
  padding: 12px;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.companyBtn:hover {
  background-color: var(--purple-500);
  color: var(--gray-900);
}
