._subHeaderContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px 32px;
  background-color: var(--primary-50);
}

._contentContainer {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

._btnWrapper {
  width: 150px;
}
