.exercise-table {
    width: 80%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.exercise-table th,
.exercise-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.exercise-table th {
    background-color: #f2f2f2;
    text-align: left;
}