/* ContactForm.css */

.contact-form-container {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
    margin-top: 40px;
}

.contact-form-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.form-wrapper {
    background-color: transparent;
    padding: 2rem;
    width: 30%;
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    margin-bottom: 1rem;
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 1rem;
    text-align: left;
    outline: none;
}

.form-input::placeholder {
    color: #ffffff;
    opacity: 0.8;
}

.submit-btn {
    background-color: #96794e;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    font-size: 1rem;
}

.submit-btn:hover {
    background-color: #96794e;
}

h1 {
    color: #5d5d5d;
    margin-bottom: 1rem;
    font-weight: bold;
}