.contact-form-container {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    /* Alinear a la izquierda */
    align-items: center;
    padding: 0 2rem;
    margin-top: 40px;
}

.contact-form-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.form-wrapper {
    background-color: transparent;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    margin-bottom: 1rem;
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 1rem;
    text-align: left;
    outline: none;
}

.form-input::placeholder {
    color: #ffffff;
    opacity: 0.8;
}

.submit-btn {
    background-color: #96794e;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    font-size: 1rem;
}

.submit-btn:hover {
    background-color: #96794e;
}

h1 {
    color: #ffffff;
    margin-bottom: 1rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .form-wrapper {
        width: 90%;
    }

    .form-input {
        font-size: 0.9rem;
    }

    .submit-btn {
        font-size: 0.9rem;
        padding: 0.5rem 0.8rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .form-wrapper {
        width: 100%;
        padding: 1rem;
    }

    .form-input {
        font-size: 0.8rem;
    }

    .submit-btn {
        font-size: 0.8rem;
        padding: 0.4rem 0.7rem;
    }

    h1 {
        font-size: 1.2rem;
    }
}