/* Home.module.css */
.homeContainer {
  min-height: 100vh; /* Establece una altura mínima para el contenedor principal */
  display: flex;
  flex-direction: column;
}

.sectionSpacing {
  margin-bottom: 2rem; /* Ajusta el valor según el espacio deseado entre secciones */
}

.pricingContainer {
  flex-grow: 1; /* Permite que el contenedor de precios crezca y ocupe el espacio restante */
  overflow-y: auto; /* Agrega un desplazamiento vertical si el contenido es demasiado largo */
}

/* Resto de tus estilos CSS existentes */
.header {
  position: relative; 
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(5px); 
  z-index: -1; 
}

.headerTitle {
  color: var(--color-dark);
  font-size: 90px;
  font-weight: 900;
  text-shadow: 1px 1px 3px var(--color-light);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; 
}
