.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.slide {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.slide.active {
  opacity: 1;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
}

.slide-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 800px;
  width: 100%;
}

.slide-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #c19d67;
}

.slide-description {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(182, 177, 170);
  margin-bottom: 10px;
}

.slide-details {
  font-size: 1.25em;
  line-height: 1.5;
  text-align: center;
  color: rgb(230, 230, 230);
}

@media (max-width: 768px) {
  .slide-title {
      font-size: 1.75em;
  }

  .slide-description {
      font-size: 1.25em;
  }

  .slide-details {
      font-size: 1em;
  }
}

@media (max-width: 480px) {
  .slide-title {
      font-size: 1.5em;
  }

  .slide-description {
      font-size: 1em;
  }

  .slide-details {
      font-size: 0.875em;
  }
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-btn,
.next-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
}

.left {
  border-width: 10px 15px 10px 0;
  border-color: transparent #d8a150 transparent transparent;
}

.right {
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #d8a150;
}
