/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  transition: background-color 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
}

.sticky {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Logo styles */
.logoContainer {
  display: flex;
}

.logo {
  max-width: 300px;
  height: auto;
}

.logoAnimation {
  animation: logoAnimation 1s ease-in-out;
}

@keyframes logoAnimation {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Navbar links */
.navLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navLink {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
  padding: 0.5rem 1rem;
}

.navLinkAnimation::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #96794e;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navLink:hover::before {
  transform: scaleX(1);
}

.navLink:hover {
  color: #96794e;
}

/* Mobile menu toggle */
.menuToggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 24px;
  position: relative;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: all 0.3s;
}

.change .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar:nth-child(2) {
  opacity: 0;
}

.change .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 768px) {
  .navLinks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .open {
    transform: translateX(0);
  }

  .menuToggle {
    display: flex;
  }
}