.userDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
}



.loading {
    font-size: 16px;
    color: #555;
    text-align: center;
    padding: 50px;
}


.bookingsContainer {
    width: 90%;
    max-width: 600px;
    background-color: #f9f9fb;
    color: black;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    font-size: small;

}

.bookingsContainer h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.bookingsContainer h4 {
    color: #333;
    font-size: 1rem;
    margin-bottom: 15px;
}
.bookingInfo p {
    color: #666;
    margin: 0;
}

.bookingsList {
    max-height: 150px;
    overflow-y: auto;
}

.bookingDetail {
    background-color: #cbd6e114;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 10px 4px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bookingInfo {
    font-size: smaller;
    flex: 1; /* Asegura que tome todo el espacio disponible menos el botón */
}



.deleteButton {
    margin-left: 10px;
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.deleteButton:hover {
    color: darkred;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    color: #212529;
    /* align-items: center; */
}
