.big-container {
  position: relative;
  width: 100%;
  max-width: 948px;
  min-height: 400px;
  height: fit-content;
  max-height: 620px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--purple-300);
  border-radius: var(--border-lg);
}

.big-container > .bg-color {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 948px;
  min-height: 120px;
  border-radius: 20px 20px 0 0;
  background: #00ffff;
  background: -webkit-linear-gradient(to right, #00ffff 0%, #37cfff 100%);
  background: -moz-linear-gradient(to right, #00ffff 0%, #37cfff 100%);
  background: linear-gradient(to right, #00ffff 0%, #37cfff 100%);
}
