._mainContainerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
._subContainer {
  width: 948px;
  height: 440px;
  background: var(--purple-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-bottom: 50px;
}

._title {
  font-weight: var(--font-extrabold);
  font-size: 2rem;
  margin: 32px 0;
}
