.mainContainerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.background {
  width: 948px;
  height: 399px;
  background: #f5f4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.inputs {
  margin-bottom: 10px;
}

.inputs input {
  padding: 8px 16px 8px 40px;
  margin-block: 6px;
  width: 100%;
  border: none;
  border-radius: var(--border-md);
}

.inputs input:focus {
  outline: 2px solid var(--purple-500);
  outline-offset: -2px;
}
