@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

::before,
::after {
  --tw-content: '';
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

html{
  pointer-events: none;
  --tw-bg-opacity: 1;
  background-color: rgb(28 25 23 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(120 113 108 / var(--tw-text-opacity));
}

#main{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: stretch;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#main > *{
  pointer-events: auto;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }

}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }

}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }

}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }

}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }

}

.k--board-sidepanel{
  display: flex;
  border-left-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(39 39 42 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(212 212 216 / var(--tw-text-opacity));
}

.k--boardpanels-btn{
  --tw-text-opacity: 1;
  color: rgb(212 212 216 / var(--tw-text-opacity));
}

.k--boardpanels-btn:hover{
  --tw-text-opacity: 1;
  color: rgb(244 244 245 / var(--tw-text-opacity));
}

.k--boardpanels-btn-discrete{
  --tw-text-opacity: 1;
  color: rgb(63 63 70 / var(--tw-text-opacity));
}

.k--boardpanels-btn-discrete:hover{
  --tw-text-opacity: 1;
  color: rgb(161 161 170 / var(--tw-text-opacity));
}

.devtools-btn{
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.devtools-btn:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}

.devtools-btn.active{
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.devtools-btn.active:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(249 115 22 / var(--tw-bg-opacity));
}

.devtools-corner-btn{
  aspect-ratio: 4 / 3;
  width: 2.5rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.devtools-corner-btn:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.pointer-events-none{
  pointer-events: none;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.inset-0{
  inset: 0px;
}

.bottom-0{
  bottom: 0px;
}

.bottom-4{
  bottom: 1rem;
}

.bottom-8{
  bottom: 2rem;
}

.left-0{
  left: 0px;
}

.left-4{
  left: 1rem;
}

.left-\[-30rem\]{
  left: -30rem;
}

.left-\[44\%\]{
  left: 44%;
}

.right-0{
  right: 0px;
}

.right-4{
  right: 1rem;
}

.right-\[60\%\]{
  right: 60%;
}

.top-0{
  top: 0px;
}

.top-4{
  top: 1rem;
}

.-z-50{
  z-index: -50;
}

.z-10{
  z-index: 10;
}

.z-\[999\]{
  z-index: 999;
}

.m-0{
  margin: 0px;
}

.m-1{
  margin: 0.25rem;
}

.m-10{
  margin: 2.5rem;
}

.m-2{
  margin: 0.5rem;
}

.m-5{
  margin: 1.25rem;
}

.m-auto{
  margin: auto;
}

.mx-2{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-6{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-1{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-10{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-8{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-\[12px\]{
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.my-px{
  margin-top: 1px;
  margin-bottom: 1px;
}

.-mt-1{
  margin-top: -0.25rem;
}

.-mt-1\.5{
  margin-top: -0.375rem;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mb-32{
  margin-bottom: 8rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.ml-1{
  margin-left: 0.25rem;
}

.ml-10{
  margin-left: 2.5rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.mr-10{
  margin-right: 2.5rem;
}

.mr-24{
  margin-right: 6rem;
}

.mr-28{
  margin-right: 7rem;
}

.mr-3{
  margin-right: 0.75rem;
}

.mr-4{
  margin-right: 1rem;
}

.mr-5{
  margin-right: 1.25rem;
}

.mr-8{
  margin-right: 2rem;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-24{
  margin-top: 6rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-\[20rem\]{
  margin-top: 20rem;
}

.mt-auto{
  margin-top: auto;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.contents{
  display: contents;
}

.hidden{
  display: none;
}

.aspect-square{
  aspect-ratio: 1 / 1;
}

.size-7{
  width: 1.75rem;
  height: 1.75rem;
}

.h-1{
  height: 0.25rem;
}

.h-100scr{
  height: 100vh;
}

.h-10scr{
  height: 10vh;
}

.h-12{
  height: 3rem;
}

.h-2{
  height: 0.5rem;
}

.h-2\/3{
  height: 66.666667%;
}

.h-20scr{
  height: 20vh;
}

.h-24{
  height: 6rem;
}

.h-30scr{
  height: 30vh;
}

.h-36{
  height: 9rem;
}

.h-4\/5{
  height: 80%;
}

.h-40scr{
  height: 40vh;
}

.h-48{
  height: 12rem;
}

.h-50scr{
  height: 50vh;
}

.h-6{
  height: 1.5rem;
}

.h-60scr{
  height: 60vh;
}

.h-70scr{
  height: 70vh;
}

.h-8{
  height: 2rem;
}

.h-80scr{
  height: 80vh;
}

.h-9{
  height: 2.25rem;
}

.h-90scr{
  height: 90vh;
}

.h-\[18rem\]{
  height: 18rem;
}

.h-\[1px\]{
  height: 1px;
}

.h-\[24rem\]{
  height: 24rem;
}

.h-\[2px\]{
  height: 2px;
}

.h-\[36rem\]{
  height: 36rem;
}

.h-\[593px\]{
  height: 593px;
}

.h-\[60px\]{
  height: 60px;
}

.h-\[800px\]{
  height: 800px;
}

.h-full{
  height: 100%;
}

.h-min{
  height: -moz-min-content;
  height: min-content;
}

.h-px{
  height: 1px;
}

.h-screen{
  height: 100vh;
}

.max-h-100scr{
  max-height: 100vh;
}

.max-h-10scr{
  max-height: 10vh;
}

.max-h-20scr{
  max-height: 20vh;
}

.max-h-30scr{
  max-height: 30vh;
}

.max-h-40scr{
  max-height: 40vh;
}

.max-h-50scr{
  max-height: 50vh;
}

.max-h-60scr{
  max-height: 60vh;
}

.max-h-70scr{
  max-height: 70vh;
}

.max-h-80scr{
  max-height: 80vh;
}

.max-h-90scr{
  max-height: 90vh;
}

.max-h-\[60px\]{
  max-height: 60px;
}

.min-h-100scr{
  min-height: 100vh;
}

.min-h-10scr{
  min-height: 10vh;
}

.min-h-12{
  min-height: 3rem;
}

.min-h-20scr{
  min-height: 20vh;
}

.min-h-30scr{
  min-height: 30vh;
}

.min-h-40scr{
  min-height: 40vh;
}

.min-h-50scr{
  min-height: 50vh;
}

.min-h-60scr{
  min-height: 60vh;
}

.min-h-70scr{
  min-height: 70vh;
}

.min-h-80scr{
  min-height: 80vh;
}

.min-h-90scr{
  min-height: 90vh;
}

.min-h-px{
  min-height: 1px;
}

.w-1\/6{
  width: 16.666667%;
}

.w-100scr{
  width: 100vw;
}

.w-10scr{
  width: 10vw;
}

.w-2\/5{
  width: 40%;
}

.w-2\/6{
  width: 33.333333%;
}

.w-20{
  width: 5rem;
}

.w-20scr{
  width: 20vw;
}

.w-24{
  width: 6rem;
}

.w-28{
  width: 7rem;
}

.w-3\/5{
  width: 60%;
}

.w-30scr{
  width: 30vw;
}

.w-32{
  width: 8rem;
}

.w-36{
  width: 9rem;
}

.w-4\/5{
  width: 80%;
}

.w-4\/6{
  width: 66.666667%;
}

.w-40scr{
  width: 40vw;
}

.w-48{
  width: 12rem;
}

.w-5{
  width: 1.25rem;
}

.w-5\/6{
  width: 83.333333%;
}

.w-50scr{
  width: 50vw;
}

.w-56{
  width: 14rem;
}

.w-6{
  width: 1.5rem;
}

.w-60{
  width: 15rem;
}

.w-60scr{
  width: 60vw;
}

.w-7{
  width: 1.75rem;
}

.w-70scr{
  width: 70vw;
}

.w-8{
  width: 2rem;
}

.w-8\/12{
  width: 66.666667%;
}

.w-80{
  width: 20rem;
}

.w-80scr{
  width: 80vw;
}

.w-9{
  width: 2.25rem;
}

.w-9\/12{
  width: 75%;
}

.w-90scr{
  width: 90vw;
}

.w-\[1360px\]{
  width: 1360px;
}

.w-\[1440px\]{
  width: 1440px;
}

.w-\[26rem\]{
  width: 26rem;
}

.w-\[28rem\]{
  width: 28rem;
}

.w-\[36rem\]{
  width: 36rem;
}

.w-\[800px\]{
  width: 800px;
}

.w-\[960px\]{
  width: 960px;
}

.w-fit{
  width: -moz-fit-content;
  width: fit-content;
}

.w-full{
  width: 100%;
}

.w-screen{
  width: 100vw;
}

.min-w-100scr{
  min-width: 100vw;
}

.min-w-10scr{
  min-width: 10vw;
}

.min-w-20scr{
  min-width: 20vw;
}

.min-w-30scr{
  min-width: 30vw;
}

.min-w-40{
  min-width: 10rem;
}

.min-w-40scr{
  min-width: 40vw;
}

.min-w-50scr{
  min-width: 50vw;
}

.min-w-60scr{
  min-width: 60vw;
}

.min-w-70scr{
  min-width: 70vw;
}

.min-w-80{
  min-width: 20rem;
}

.min-w-80scr{
  min-width: 80vw;
}

.min-w-90scr{
  min-width: 90vw;
}

.max-w-100scr{
  max-width: 100vw;
}

.max-w-10scr{
  max-width: 10vw;
}

.max-w-20scr{
  max-width: 20vw;
}

.max-w-30scr{
  max-width: 30vw;
}

.max-w-40scr{
  max-width: 40vw;
}

.max-w-50scr{
  max-width: 50vw;
}

.max-w-60scr{
  max-width: 60vw;
}

.max-w-70scr{
  max-width: 70vw;
}

.max-w-80scr{
  max-width: 80vw;
}

.max-w-90scr{
  max-width: 90vw;
}

.max-w-sm{
  max-width: 24rem;
}

.flex-auto{
  flex: 1 1 auto;
}

.-translate-y-1{
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45{
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-y-150{
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-auto{
  cursor: auto;
}

.cursor-move{
  cursor: move;
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-se-resize{
  cursor: se-resize;
}

.cursor-w-resize{
  cursor: w-resize;
}

.select-none{
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.resize{
  resize: both;
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-5{
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-rows-\[0fr\]{
  grid-template-rows: 0fr;
}

.grid-rows-\[1fr\]{
  grid-template-rows: 1fr;
}

.flex-row{
  flex-direction: row;
}

.flex-row-reverse{
  flex-direction: row-reverse;
}

.flex-col{
  flex-direction: column;
}

.flex-col-reverse{
  flex-direction: column-reverse;
}

.items-center{
  align-items: center;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.gap-1{
  gap: 0.25rem;
}

.gap-10{
  gap: 2.5rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-4{
  gap: 1rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-6{
  gap: 1.5rem;
}

.space-x-8 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.overflow-y-scroll{
  overflow-y: scroll;
}

.whitespace-nowrap{
  white-space: nowrap;
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.rounded-\[10rem\]{
  border-radius: 10rem;
}

.rounded-\[30px\]{
  border-radius: 30px;
}

.rounded-\[3rem\]{
  border-radius: 3rem;
}

.rounded-\[5rem\]{
  border-radius: 5rem;
}

.rounded-full{
  border-radius: 100%;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded-sm{
  border-radius: 0.125rem;
}

.rounded-xl{
  border-radius: 0.75rem;
}

.rounded-l-lg{
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.rounded-l-xl{
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.rounded-r-lg{
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.rounded-r-xl{
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.rounded-bl-3xl{
  border-bottom-left-radius: 1.5rem;
}

.rounded-br-3xl{
  border-bottom-right-radius: 1.5rem;
}

.rounded-tl-3xl{
  border-top-left-radius: 1.5rem;
}

.rounded-tr-3xl{
  border-top-right-radius: 1.5rem;
}

.border{
  border-width: 1px;
}

.border-2{
  border-width: 2px;
}

.border-\[1px\]{
  border-width: 1px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-b-\[1px\]{
  border-bottom-width: 1px;
}

.border-l{
  border-left-width: 1px;
}

.border-r-2{
  border-right-width: 2px;
}

.border-r-\[1px\]{
  border-right-width: 1px;
}

.border-t{
  border-top-width: 1px;
}

.border-none{
  border-style: none;
}

.border-accent-l{
  --tw-border-opacity: 1;
  border-color: rgb(255 245 194 / var(--tw-border-opacity));
}

.border-accent-n{
  --tw-border-opacity: 1;
  border-color: rgb(255 213 0 / var(--tw-border-opacity));
}

.border-b{
  --tw-border-opacity: 1;
  border-color: rgb(3 3 3 / var(--tw-border-opacity));
}

.border-black{
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.border-gray-300{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.border-gray-400{
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}

.border-gray-500{
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}

.border-gray-600{
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
}

.border-primary-n{
  --tw-border-opacity: 1;
  border-color: rgb(64 16 76 / var(--tw-border-opacity));
}

.border-slate-600{
  --tw-border-opacity: 1;
  border-color: rgb(71 85 105 / var(--tw-border-opacity));
}

.border-w{
  --tw-border-opacity: 1;
  border-color: rgb(250 250 250 / var(--tw-border-opacity));
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-zinc-700{
  --tw-border-opacity: 1;
  border-color: rgb(63 63 70 / var(--tw-border-opacity));
}

.border-zinc-800{
  --tw-border-opacity: 1;
  border-color: rgb(39 39 42 / var(--tw-border-opacity));
}

.border-zinc-900{
  --tw-border-opacity: 1;
  border-color: rgb(24 24 27 / var(--tw-border-opacity));
}

.border-r-gray-600{
  --tw-border-opacity: 1;
  border-right-color: rgb(75 85 99 / var(--tw-border-opacity));
}

.bg-\[\#fff5c2\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 245 194 / var(--tw-bg-opacity));
}

.bg-accent-l{
  --tw-bg-opacity: 1;
  background-color: rgb(255 245 194 / var(--tw-bg-opacity));
}

.bg-accent-n{
  --tw-bg-opacity: 1;
  background-color: rgb(255 213 0 / var(--tw-bg-opacity));
}

.bg-b{
  --tw-bg-opacity: 1;
  background-color: rgb(3 3 3 / var(--tw-bg-opacity));
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-blue-800{
  --tw-bg-opacity: 1;
  background-color: rgb(30 64 175 / var(--tw-bg-opacity));
}

.bg-dark{
  --tw-bg-opacity: 1;
  background-color: rgb(14 9 15 / var(--tw-bg-opacity));
}

.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-gray-200{
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-gray-300{
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.bg-gray-400{
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

.bg-gray-500{
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

.bg-gray-600{
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.bg-gray-700{
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.bg-gray-800{
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.bg-primary-d{
  --tw-bg-opacity: 1;
  background-color: rgb(19 16 20 / var(--tw-bg-opacity));
}

.bg-primary-l{
  --tw-bg-opacity: 1;
  background-color: rgb(230 225 231 / var(--tw-bg-opacity));
}

.bg-primary-n{
  --tw-bg-opacity: 1;
  background-color: rgb(64 16 76 / var(--tw-bg-opacity));
}

.bg-red-800{
  --tw-bg-opacity: 1;
  background-color: rgb(153 27 27 / var(--tw-bg-opacity));
}

.bg-secondary-n{
  --tw-bg-opacity: 1;
  background-color: rgb(219 158 255 / var(--tw-bg-opacity));
}

.bg-slate-400{
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}

.bg-transparent{
  background-color: transparent;
}

.bg-w{
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-zinc-100{
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 245 / var(--tw-bg-opacity));
}

.bg-zinc-200{
  --tw-bg-opacity: 1;
  background-color: rgb(228 228 231 / var(--tw-bg-opacity));
}

.bg-zinc-300{
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 216 / var(--tw-bg-opacity));
}

.bg-zinc-700{
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity));
}

.bg-zinc-900{
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}

.bg-opacity-15{
  --tw-bg-opacity: 0.15;
}

.bg-opacity-50{
  --tw-bg-opacity: 0.5;
}

.bg-opacity-70{
  --tw-bg-opacity: 0.7;
}

.bg-gradient-to-r{
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-accent-n{
  --tw-gradient-from: #ffd500 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 213 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-accent-l{
  --tw-gradient-to: #fff5c2 var(--tw-gradient-to-position);
}

.p-0{
  padding: 0px;
}

.p-10{
  padding: 2.5rem;
}

.p-12{
  padding: 3rem;
}

.p-2{
  padding: 0.5rem;
}

.p-2\.5{
  padding: 0.625rem;
}

.p-3{
  padding: 0.75rem;
}

.p-4{
  padding: 1rem;
}

.p-5{
  padding: 1.25rem;
}

.px-0{
  padding-left: 0px;
  padding-right: 0px;
}

.px-0\.5{
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-20{
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-12{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-14{
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2\.5{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-28{
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-16{
  padding-bottom: 4rem;
}

.pb-3{
  padding-bottom: 0.75rem;
}

.pl-10{
  padding-left: 2.5rem;
}

.pl-2{
  padding-left: 0.5rem;
}

.pl-32{
  padding-left: 8rem;
}

.pr-10{
  padding-right: 2.5rem;
}

.pr-3{
  padding-right: 0.75rem;
}

.pr-4{
  padding-right: 1rem;
}

.pt-10{
  padding-top: 2.5rem;
}

.pt-2{
  padding-top: 0.5rem;
}

.pt-3{
  padding-top: 0.75rem;
}

.pt-8{
  padding-top: 2rem;
}

.pt-\[60px\]{
  padding-top: 60px;
}

.text-center{
  text-align: center;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-3xl\/9{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl{
  font-size: 3rem;
  line-height: 1;
}

.text-6xl{
  font-size: 3.75rem;
  line-height: 1;
}

.text-7xl{
  font-size: 4.5rem;
  line-height: 1;
}

.text-\[10px\]{
  font-size: 10px;
}

.text-\[32px\]{
  font-size: 32px;
}

.text-\[48px\]{
  font-size: 48px;
}

.text-\[64px\]{
  font-size: 64px;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-\[600\]{
  font-weight: 600;
}

.font-bold{
  font-weight: 700;
}

.font-medium{
  font-weight: 500;
}

.text-accent-l{
  --tw-text-opacity: 1;
  color: rgb(255 245 194 / var(--tw-text-opacity));
}

.text-accent-n{
  --tw-text-opacity: 1;
  color: rgb(255 213 0 / var(--tw-text-opacity));
}

.text-b{
  --tw-text-opacity: 1;
  color: rgb(3 3 3 / var(--tw-text-opacity));
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-dark{
  --tw-text-opacity: 1;
  color: rgb(14 9 15 / var(--tw-text-opacity));
}

.text-gray-300{
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.text-gray-400{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-gray-600{
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-gray-700{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.text-gray-800{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.text-gray-900{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.text-primary-l{
  --tw-text-opacity: 1;
  color: rgb(230 225 231 / var(--tw-text-opacity));
}

.text-primary-n{
  --tw-text-opacity: 1;
  color: rgb(64 16 76 / var(--tw-text-opacity));
}

.text-red-600{
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.text-stone-400{
  --tw-text-opacity: 1;
  color: rgb(168 162 158 / var(--tw-text-opacity));
}

.text-w{
  --tw-text-opacity: 1;
  color: rgb(250 250 250 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-yellow-400{
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity));
}

.text-zinc-400{
  --tw-text-opacity: 1;
  color: rgb(161 161 170 / var(--tw-text-opacity));
}

.placeholder-\[\#fff5c2\]::-moz-placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(255 245 194 / var(--tw-placeholder-opacity));
}

.placeholder-\[\#fff5c2\]::placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(255 245 194 / var(--tw-placeholder-opacity));
}

.opacity-0{
  opacity: 0;
}

.opacity-100{
  opacity: 1;
}

.opacity-5{
  opacity: 0.05;
}

.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm{
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.blur-sm{
  --tw-blur: blur(4px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-md{
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300{
  transition-duration: 300ms;
}

.duration-500{
  transition-duration: 500ms;
}

.duration-700{
  transition-duration: 700ms;
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.f-tittle{
  font-family: Poppins, sans-serif;
  font-style: italic;
  font-weight: 700;
}

.f-body{
  font-family: Radio Canada Big, sans-serif;
  font-weight: 600;
}

.f-body-sm{
  font-family: Radio Canada Big, sans-serif;
  font-weight: 500;
}

.k--bg-boardpanels{
  --tw-border-opacity: 1;
  border-color: rgb(39 39 42 / var(--tw-border-opacity));
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.7;
  --tw-backdrop-blur: blur(16px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.placeholder\:text-gray-500::-moz-placeholder{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.placeholder\:text-gray-500::placeholder{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.hover\:scale-105:hover{
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-dark:hover{
  --tw-border-opacity: 1;
  border-color: rgb(14 9 15 / var(--tw-border-opacity));
}

.hover\:bg-black:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.hover\:bg-gray-300:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.hover\:bg-gray-700:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.hover\:bg-gray-800:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.hover\:bg-primary-n:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(64 16 76 / var(--tw-bg-opacity));
}

.hover\:bg-red-950:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(69 10 10 / var(--tw-bg-opacity));
}

.hover\:bg-transparent:hover{
  background-color: transparent;
}

.hover\:bg-violet-950:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(46 16 101 / var(--tw-bg-opacity));
}

.hover\:bg-white:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:bg-opacity-30:hover{
  --tw-bg-opacity: 0.3;
}

.hover\:bg-none:hover{
  background-image: none;
}

.hover\:text-accent-n:hover{
  --tw-text-opacity: 1;
  color: rgb(255 213 0 / var(--tw-text-opacity));
  color: rgb(255 213 0 / var(--tw-text-opacity));
}

.hover\:text-black:hover{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.hover\:text-dark:hover{
  --tw-text-opacity: 1;
  color: rgb(14 9 15 / var(--tw-text-opacity));
}

.hover\:text-gray-600:hover{
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.hover\:text-w:hover{
  --tw-text-opacity: 1;
  color: rgb(250 250 250 / var(--tw-text-opacity));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:transition-none:hover{
  transition-property: none;
}

.focus\:border-accent-n:focus{
  --tw-border-opacity: 1;
  border-color: rgb(255 213 0 / var(--tw-border-opacity));
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-4:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

@media (min-width: 768px){
  .md\:flex{
    display: flex;
  }

  .md\:h-screen{
    height: 100vh;
  }

  .md\:max-w-\[1550px\]{
    max-width: 1550px;
  }

  .md\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

@media (min-width: 1024px){
  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

}

.dark\:border-zinc-300:where([data-darkmode], [data-darkmode] *){
  --tw-border-opacity: 1;
  border-color: rgb(212 212 216 / var(--tw-border-opacity));
}

.dark\:border-zinc-500:where([data-darkmode], [data-darkmode] *){
  --tw-border-opacity: 1;
  border-color: rgb(113 113 122 / var(--tw-border-opacity));
}

.dark\:bg-dark:where([data-darkmode], [data-darkmode] *){
  --tw-bg-opacity: 1;
  background-color: rgb(14 9 15 / var(--tw-bg-opacity));
}

.dark\:bg-zinc-500:where([data-darkmode], [data-darkmode] *){
  --tw-bg-opacity: 1;
  background-color: rgb(113 113 122 / var(--tw-bg-opacity));
}

.dark\:bg-zinc-800:where([data-darkmode], [data-darkmode] *){
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
}

.dark\:bg-zinc-900:where([data-darkmode], [data-darkmode] *){
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}

.dark\:text-accent-n:where([data-darkmode], [data-darkmode] *){
  --tw-text-opacity: 1;
  color: rgb(255 213 0 / var(--tw-text-opacity));
}

.dark\:text-gray-200:where([data-darkmode], [data-darkmode] *){
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

.dark\:text-gray-300:where([data-darkmode], [data-darkmode] *){
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.dark\:text-gray-400:where([data-darkmode], [data-darkmode] *){
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.dark\:text-gray-700:where([data-darkmode], [data-darkmode] *){
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.dark\:text-white:where([data-darkmode], [data-darkmode] *){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark\:text-zinc-600:where([data-darkmode], [data-darkmode] *){
  --tw-text-opacity: 1;
  color: rgb(82 82 91 / var(--tw-text-opacity));
}

.dark\:text-zinc-700:where([data-darkmode], [data-darkmode] *){
  --tw-text-opacity: 1;
  color: rgb(63 63 70 / var(--tw-text-opacity));
}

.dark\:hover\:bg-zinc-700:hover:where([data-darkmode], [data-darkmode] *){
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity));
}

.dark\:hover\:text-zinc-400:hover:where([data-darkmode], [data-darkmode] *){
  --tw-text-opacity: 1;
  color: rgb(161 161 170 / var(--tw-text-opacity));
}

.dark\:hover\:text-zinc-500:hover:where([data-darkmode], [data-darkmode] *){
  --tw-text-opacity: 1;
  color: rgb(113 113 122 / var(--tw-text-opacity));
}
