.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

header {
  position: relative;
  margin-top: 4rem;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoTitle {
  margin-bottom: 8px;
  font-size: 5rem;
  font-weight: var(--font-extrabold);
  text-align: center;
  line-height: 1;
  letter-spacing: -3px;
  z-index: 10;
}

.logoSubtitle {
  max-width: 700px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: var(--font-medium);
  line-height: 1.2;
  z-index: 10;
}

header img {
  position: absolute;
  max-width: 550px;
  z-index: -1;
}

@media (max-width: 678px) {
  header {
    max-width: 300px;
  }

  .logoTitle {
    font-size: 3rem;
    letter-spacing: -3px;
    z-index: 10;
  }

  .logoSubtitle {
    max-width: 300px;
    font-size: 1rem;
    line-height: 1.1;
  }

  header img {
    max-width: 300px;
    top: 30px;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}

.title {
  font-weight: var(--font-extrabold);
  font-size: 2rem;
  margin: 2rem 0;
}

section form {
  z-index: 10;
  width: 480px;
}

.selectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 8px;
}

.selectContainer label {
  font-weight: var(--font-semibold);
}

.selectContainer select {
  appearance: none;
  cursor: pointer;
  text-align: center;
  padding: 8px;
  width: 100px;
  border: none;
  border-radius: var(--border-sm);
}

.selectContainer select:focus {
  outline: 2px solid var(--purple-500);
  outline-offset: -2px;
}

.bgImg {
  position: absolute;
  bottom: 0px;
  z-index: 0;
  width: 100vw;
  height: 300px;
  clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
  background: -moz-linear-gradient(
    180deg,
    rgba(210, 209, 252, 1) 0%,
    rgba(210, 209, 252, 0.008862920168067223) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(210, 209, 252, 1) 0%,
    rgba(210, 209, 252, 0.008862920168067223) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(210, 209, 252, 1) 0%,
    rgba(210, 209, 252, 0.008862920168067223) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2d1fc",endColorstr="#d2d1fc",GradientType=1);
}

@media (max-width: 678px) {
  .title {
    font-size: 1.5rem;
  }

  section form {
    width: 300px;
  }

  .bgImg {
    height: 220px;
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
  }
}

button {
  border: none;
  border-radius: var(--border-sm);
  background-color: var(--text-900);
  color: var(--text-100);
  font-weight: var(--font-semibold);
  margin-block: 6px;
  padding: 12px;
  width: 100%;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: var(--purple-500);
  color: var(--text-900);
}
